<div class="container shadow-xl">

  <span class="logo flex-auto">logo</span>


  <div class="icons flex-col flex-auto">


    <div [routerLinkActive]="'cursor-default'" [routerLink]="['/dashboard']" class="cursor-pointer flex flex-row my-5">
      <i class="fa-light fa-home my-auto ml-auto"></i>
      <div [routerLinkActive]="'active'" class="ml-auto inactive py-5"></div>
    </div>

    <div [routerLinkActive]="'cursor-default'" [routerLink]="['/search']" class="cursor-pointer flex flex-row my-5">
      <i class="fa-light fa-magnifying-glass my-auto ml-auto"></i>
      <div [routerLinkActive]="'active'" class="ml-auto inactive py-5"></div>
    </div>

    <div [routerLinkActive]="'cursor-default'" [routerLink]="['/stats']" class="cursor-pointer flex flex-row my-5">
      <i class="fa-light fa-chart-column my-auto ml-auto"></i>
      <div [routerLinkActive]="'active'" class="ml-auto inactive py-5"></div>
    </div>

    <div [routerLinkActive]="'cursor-default'" [routerLink]="['/messages']" class="cursor-pointer flex flex-row my-5">
      <i class="fa-light fa-comment my-auto ml-auto"></i>
      <div [routerLinkActive]="'active'" class="ml-auto inactive py-5"></div>
    </div>


  </div>



  <div (click)="logout()" class="cursor-pointer flex flex-row my-5">
    <i class="fa-light fa-arrow-right-from-bracket my-auto ml-auto"></i>
    <div class="ml-auto inactive py-5"></div>
  </div>



</div>
