@import "../../../../styles/variables";

.container {
  height: 100vh;
  width: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

i {
  color: $gray;
  font-size: 1.3rem;
}

.active-blue {
  border-right: 5px solid $blue !important;
}

.active-orange {
  border-right: 5px solid $orange !important;
}

.inactive {
  border-right: 5px solid white;
}
