.left-bar {

    height: calc(100vh - 68px);
    overflow-y: scroll;

    /* ===== Scrollbar CSS ===== */
  /* Firefox */
 
    scrollbar-width: auto;
    scrollbar-color: #7b7b7b #ffffff;


  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
    border-radius: 12px;
    border: 2px solid #ffffff;
  }
}



.right-chat {

    height: calc(100vh - 68px - 100px - 28px - 16px);
    overflow-y: scroll;

    scrollbar-width: auto;
    scrollbar-color: #7b7b7b #ffffff;


  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
    border-radius: 12px;
    border: 2px solid #ffffff;
  }
}


.bg-blue-50 {

  background-color: #e9f6fe;
}

.bg-orange-50 {

  background-color: #fef5e9;
}

@media (max-width: 1024px) {

  .flex-row-sm {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
  }

  .h-inherit-sm {
    height: inherit;
  }
}
