<ng-container *transloco="let t; read: 'z'">
  <table class="w-100">
    <thead>
      <tr class="font-semibold">
        <td>{{ t('orderNumber') }}</td>
        <td>{{ t('client') }}</td>
        <td>{{ t('socialMedia') }}</td>
        <td>{{ t('posts') }}</td>
        <td>{{ t('stories') }}</td>
        <td>{{ t('highlights') }}</td>
        <td>{{ t('dates') }}</td>
        <td>{{ t('files') }}</td>
        <td>zz</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of newEvents ? newEvents : events as Offer">
        <td>{{ item.orderId }}</td>
        <td>
          {{ item.socialMedia.facebook.posts + ',' + item.socialMedia.twitter.posts + ',' + item.socialMedia.youtube.posts }}
        </td>
        <td>{{ item.dates.startDate }}</td>
        <td>{{ item.dates.endDate }}</td>
        <td>{{ item.isAccepted }}</td>
        <td>{{ item.orderId }}</td>
        <td>{{ item.orderId }}</td>
        <td>{{ item.orderId }}</td>

      </tr>

    </tbody>
  </table>
</ng-container>
<div (click)="this.sort()">hihi</div>
