<ng-container *transloco="let t; read: 'dashboard.overview'">

    <form class="flex mb-2" [formGroup]="sortingFormGroup">
      <div class="flex-1 hide-item-sm"></div>
  
      <div formGroupName="sortTypes">
  
        <select (change)="this.filterAndSort()" formControlName="type" class="border px-2 py-1 rounded mr-2">
          <option value="new">{{ t('newest') }}</option>
          <option value="time">{{ t('time') }}</option>
          <option value="client">{{ t('client') }}</option>
          <option value="amount">{{ t('amount') }}</option>
          <option value="status">{{ t('status') }}</option>
        </select>
  
  
        <select (change)="this.filterAndSort()" formControlName="order" class="border px-2 py-1 rounded mr-2">
          <option value="ascending">{{ t('ascending') }}</option>
          <option value="descending">{{ t('descending') }}</option>
        </select>
  
      </div>
    </form>
  
    <div class="hide-item-not-sm mt-6">

    <div class="flex flex-col flex-wrap bg-white rounded shadow-md p-3 border mb-3" *ngFor="let item of newEvents ? newEvents : offers as Offer">

      <div class=" mb-4">
        <div class="flex-1"> Order id: {{ item.id }} </div>
  
        <span class="flex-1"> <p class="select-none cursor-pointer font-semibold" routerLink="/profile/{{item.influencerId}}">{{ item.influencerName }}</p></span>
        <span class="">€{{ item.socialMediaDetails | socialMediaPriceCounter : 'total' }}</span>
  
  
        
      </div>
       <span (click)="openDetailModal(item)" class="m-0  bg-orange  text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150">{{ t('viewDetails') }}</span>
    </div> 
  </div> 
  
    <table class="w-100 mt-10 hide-item-sm">
      <thead>
        <tr class="font-semibold">
          <td>{{ t('orderNumber') }}</td>
          <td>{{ t('influencer') }}</td>
          <td>{{ t('socialMedia') }}</td>
          <td class="hide-item-md">{{ t('posts') }}</td>
          <td class="hide-item-md">{{ t('stories') }}</td>
          <td class="hide-item-md">{{ t('highlights') }}</td>
          <td class="hide-item-md ">{{ t('dates') }}</td>
          <td>{{ t('files') }}</td>
          <td></td>
          <td></td>

        </tr>
      </thead>
      <tbody>
        <tr class="animate__animated animate__fadeIn" *ngFor="let item of newEvents ? newEvents : offers as Offer">
            <td>{{ item.id }}</td>
          <td routerLink="/profile/{{item.influencerId}}">{{ item.influencerName }}</td>
          <td class="flex"><ng-container *ngFor="let socialMedia of item.socialMediaDetails"><img width="28px" src="assets/icons/socials/{{socialMedia.name | uppercase}}.svg"></ng-container></td>
          <td class="hide-item-md">{{ item.socialMediaDetails | socialMediaCounter : 'posts' }}</td>
          <td class="hide-item-md">{{ item.socialMediaDetails | socialMediaCounter : 'stories' }}</td>
          <td class="hide-item-md">{{ item.socialMediaDetails | socialMediaCounter : 'highlights' }}</td>
          <td class="hide-item-md ">
            <div class=" w-fit  bg-gray-200 rounded-md text-sm p-1 px-3 font-semibold">
              {{ item.startDate }} - {{ item.endDate }}
            </div>
          </td>
          <td> <a class="hover:border-b-2 " href="https://fw-file-service.azurewebsites.net/api/file/{{item.id}}" target="_blank">{{ t('download') }}</a></td>
          <td class="w-fit"> <span (click)="openDetailModal(item)" class="float-right m-0  bg-orange  text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150">
            {{ t('viewDetails') }}</span></td>
        </tr>
  
      </tbody>
    </table>

    <app-modal-large [translate]="'modals.details'" [data]="partnership" (closeModal)="closeDetailModal()" [showModal]="showDetailModal"></app-modal-large>

  </ng-container>