<div class="z-10 overflow-hidden">

    <app-header></app-header>
</div>

<div class="flex overflow-hidden relative z-10 ">


    <div class="left-side  flex-1 flex flex-col main justify-center landingAnimation ">

        <div class="">
            <h2 class="title">{{ 'home.welcome' | transloco }}</h2>
            <h1 class="subtitle font-semibold text-blue">Plugger!</h1>
            <p class="w-3/5 w-80-sm">
                {{ 'home.description' | transloco }}
            </p>
        </div>

        <div class="self-start flex mb-40 mt-10">
            <div routerLink="/login" class="login bg-blue font-semibold text-white py-2 px-12 m-auto text-center rounded-sm mr-6 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150"><p class="m-auto">{{ 'home.start' | transloco }}!</p></div>
            <div (click)="openModal()" class="cursor-pointer  hover:font-semibold video m-auto">{{ 'home.watchVideo' | transloco }}</div>
        </div>

    </div>


    
    
    
</div>

<div class=" hidden lg:block absolute w-100  xx  ">
    <img src="../../../assets/home.svg" alt="">
</div>


<app-watchvideo-modal [translate]="'home.modal'" [showModal]="showModal" (closeModal)="closeModal()"></app-watchvideo-modal>