
.xx {
  z-index: -50;
}

.main {

  height: calc(100vh - 66px);
  
}

.left-side {
  padding: 0 15vw;
}



.title {
  font-size: 48px;
  line-height: 5px;
}
.subtitle {
  font-size: 72px;
}


.landingAnimation {
  animation: landingAnimation 1s;
}

@keyframes  landingAnimation {

  0% {
      opacity: 0;
      transform: translateY(40px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.xx {
  bottom: 0;
}
@media (max-width: 1736px) {
  .xx {
    top: 0;
  }
}
  


