select {

    width: 100%;
    padding:8px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    
    &:focus {
        border:none;
        outline: none;
    }
}

option {
    background-color: white;
    color:black;
}

.checkbox-orange {
    accent-color: #e65400;

}

.checkbox-blue {
    accent-color: #007fc8;

}

.search-tool-results {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 300px); /* 2 */
    grid-gap: 1rem; /* 3 */
    justify-content: space-evenly
    
    }
    