<ng-container *transloco="let t; read: 'register'">

  <i (click)="returnBack()" class="absolute top-7 left-7 fa-solid fa-arrow-left text-xl cursor-pointer text-black hide-item-sm" ></i>
  <i (click)="returnBack()" class="ml-5 mt-5 mb-5 fa-solid fa-arrow-left text-xl cursor-pointer text-black hide-item-not-sm" ></i>


  <div class="flex flex-row h-screen">

    <div class="w-1/3 flex items-center relative hide-item-sm" [class.bg-gray]="actualPage === 1"
    [class.bg-blue]="actualPage !== 1 && accountType.value === 'INFLUENCER'"
    [class.bg-orange]="actualPage !== 1 && accountType.value === 'BRAND'">

    <ng-container *ngIf="accountType.value == 'INFLUENCER' && actualPage !== 1">
      <div class="absolute top-5 right-5">
        <app-deco-wizard-squares [color]="'blue'" [position]="'top-right'"></app-deco-wizard-squares>
      </div>
    </ng-container>


    <ng-container *ngIf="accountType.value == 'BRAND' && actualPage !== 1">
      <div class="absolute top-5 right-5">
        <app-deco-wizard-squares [color]="'orange'" [position]="'top-right'"></app-deco-wizard-squares>
      </div>
    </ng-container>


    <ng-container *ngIf="actualPage === 1">
      <div class="absolute top-5 right-5">
        <app-deco-wizard-squares [color]="'grey'" [position]="'top-right'"></app-deco-wizard-squares>
      </div>
    </ng-container>





    <div class="flex flex-col ml-14 flex-1">

      <i (click)="returnBack()" class="absolute top-7 left-7 fa-solid fa-arrow-left text-xl cursor-pointer text-white" ></i>


      <app-pages-side-navigation (goToPage)='goToPage($event)' [allPages]="allPages" [color]="actualPage === 1 ? 'gray' 
      : accountType.value === 'INFLUENCER' ? 'blue' 
      : accountType.value === 'BRAND' ? 'orange' : 'gray'">

      </app-pages-side-navigation>



      <div class="flex justify-center">
      
        <img src="../../../../assets/img/register.svg" alt="" srcset="" width="50%">
      </div>
    </div>
  </div>

    <div class="flex m-auto items-center w-100-sm padding-sm">

      <div class=" items-center w-100">

      <form class="m-auto w-100" [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="p1" class="flex flex-col w-500" *ngIf="actualPage === 1">

          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('p1.title') }}</h2>
            <h3 class="flex flex-col text-lg "> {{ t('p1.description') }}</h3>
          </div>

         <div (click)="selectType('INFLUENCER')" class="border-blue border cursor-pointer w-100 flex shadow-md flex-row py-5 px-2-not-sm rounded-md my-2">

            <span class="m-auto mx-2"><i class=" text-4xl fa-solid fa-person"></i></span>
            <span class="flex-1 mx-5 w-1/3">
              <h4 class="text-lg font-semibold">{{ t('p1.influencer.title') }}</h4>
              <p class="text-sm">{{ t('p1.influencer.description') }}</p>
            </span>
            <span class="mx-5 my-auto text-2xl ml-10"> <i class="fa-solid fa-angle-right my-auto"></i></span>
          </div>

          <div (click)="selectType('BRAND')" class="border-orange border cursor-pointer flex w-100 shadow-md flex-row py-5 px-2-not-sm rounded-md my-2">

            <span class="m-auto mx-2"><i class="text-4xl fa-solid fa-building"></i></span>
            <span class="flex-1 mx-5 w-1/3">
              <h4 class="text-lg font-semibold">{{ t('p1.brand.title') }}</h4>
              <p class="text-sm">{{ t('p1.brand.description') }}</p>
            </span>
            <span class="mx-5 my-auto text-2xl ml-10"> <i class="fa-solid fa-angle-right my-auto"></i></span>
          </div>

        </div>


        

        <div formGroupName="p2" class="flex flex-col w-500" *ngIf="actualPage == 2">




          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('p2.title') }}</h2>
            <h3 class="flex flex-col text-lg"> {{ t('p2.description') }}</h3>
          </div>



          <select formControlName="country" class="input-{{color}} border rounded-sm px-2 py-3 shadow-md outline-none">



            <ng-container *ngFor="let item of countries | keyvalue">
              <option value="{{ item.key }}"
                selected="{{ item.value.key == 'BE' ? 'selected' : '' }}">
                {{ item.value.name }}</option>
            </ng-container>

          </select>




          <button type="button" (click)="goToPage(3)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm"
            [class.bg-blue]=" accountType.value === 'INFLUENCER'"
            [class.bg-orange]="accountType.value === 'BRAND'">Continue</button>
          <div (click)="goToPage(1)" class="mx-auto mt-2 flex">
            <i class="fa-solid fa-arrow-left-long my-auto cursor-pointer"></i>
            <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
          </div>


        </div>




        <div formGroupName="p3" class="flex flex-col w-500" *ngIf="actualPage === 3">

          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('p3.title') }}</h2>
            <h3 class="flex flex-col text-lg"> {{ t('p3.description') }}</h3>
          </div>




          <label for="address" class="font-semibold mb-1">Address</label>
          <input id="address" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="address"
            type="text" />

          <app-input-validation-error [control]="address"></app-input-validation-error>


          <label for="city" class="font-semibold mb-1">City</label>
          <input id="city" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="city"
            type="text" />


          <app-input-validation-error [control]="city"></app-input-validation-error>


          <label for="postalCode" class="font-semibold mb-1">Postal code</label>
          <input id="postalCode" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="postalCode" type="number" />


          <app-input-validation-error [control]="postalCode"></app-input-validation-error>


          <button type="button" (click)="goToPage(4)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm"
            [class.bg-blue]="accountType.value === 'INFLUENCER'"
            [class.bg-orange]="accountType.value === 'BRAND'">Continue</button>
          <div (click)="goToPage(2)" class="mx-auto mt-2 flex">
            <i class="fa-solid fa-arrow-left-long my-auto"></i>
            <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
          </div>


        </div>












        <div formGroupName="p4" class="flex flex-col w-500" *ngIf="actualPage === 4">

          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('p4.title') }}</h2>
            <h3 class="flex flex-col text-lg"> {{ t('p4.description') }}</h3>
          </div>




          <label for="firstName" class="font-semibold mb-1">First Name</label>
          <input id="firstName" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="firstName"
            type="text" />

          <app-input-validation-error [control]="firstName"></app-input-validation-error>


          <label for="lastName" class="font-semibold mb-1">Last Name</label>
          <input id="lastName" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="lastName"
            type="text" />


          <app-input-validation-error [control]="lastName"></app-input-validation-error>


          <label for="userName" class="font-semibold mb-1">Username</label>
          <input id="userName" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="userName"
            type="text" />


          <app-input-validation-error *ngIf="!this.usernameAlreadyExists" [control]="userName"></app-input-validation-error>
          <ng-container *ngIf="this.usernameAlreadyExists">
              <p class="text-red-600 mb-1">This username already exists</p>
          </ng-container>

          <label for="email" class="font-semibold mb-1">Email</label>
          <input id="email" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="email" type="text" />


          
          <ng-container *ngIf="this.emailAlreadyExists;">
            <p class="text-red-600 mb-1">This email already exists</p>
          </ng-container>

          <app-input-validation-error *ngIf="!this.emailAlreadyExists;" [control]="email"></app-input-validation-error>



          <label for="birthDate" class="font-semibold mb-1">Birthdate</label>
          <input id="birthDate" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="birthDate"
            type="date" />


          <app-input-validation-error [control]="birthDate"></app-input-validation-error>


          <button type="button" (click)="goToPage(5)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm"
            [class.bg-blue]="accountType.value === 'INFLUENCER'"
            [class.bg-orange]="accountType.value === 'BRAND'">Continue</button>
          <div (click)="goToPage(3)" class="mx-auto mt-2 flex">
            <i class="fa-solid fa-arrow-left-long my-auto"></i>
            <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
          </div>


        </div>






        <div formGroupName="p5" class="flex flex-col w-500" *ngIf="actualPage === 5">


          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('p5.title') }}</h2>
            <h3 class="flex flex-col text-lg"> {{ t('p5.description') }}</h3>
          </div>



          <label for="password" class="font-semibold mb-1">Password</label>
          <input id="password" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md" formControlName="password"
            type="password" />


          <app-input-validation-error [control]="password"></app-input-validation-error>




          <label for="repeatPassword" class="font-semibold mb-1">Repeat Password</label>
          <input id="repeatPassword" class="input-{{color}} border py-1 px-3 outline-none rounded-sm shadow-md"
            formControlName="repeatPassword" type="password" />


          <app-input-validation-error [control]="repeatPassword"></app-input-validation-error>



          <button type="button" (click)="goToPage(6)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm"
            [class.bg-blue]="accountType.value === 'INFLUENCER'"
            [class.bg-orange]="accountType.value === 'BRAND'">Continue</button>
          <div (click)="goToPage(4)" class="mx-auto mt-2 flex">
            <i class="fa-solid fa-arrow-left-long my-auto"></i>
            <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
          </div>


        </div>


        <div formGroupName="p6" class="flex flex-col w-500" *ngIf="actualPage === 6">



          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('p6.title') }}</h2>
            <h3 class="flex flex-col text-lg"> {{ t('p6.description') }}</h3>
          </div>



          <label for="phone" class="font-semibold mb-1">Phone number</label>
          <div class="flex">






            <div class="flex shadow-md rounded-l px-4 py-2 bg-gray-200 w-fit">

              <img src="../../../../assets/countries/flags/mini/{{ country.value.toLowerCase() }}.webp" alt="">
              <p class="ml-2 my-auto">{{ countries[country.value].number }}</p>

            </div>
            <input id="phoneNumber" class="input-{{color}} border flex-1 py-1 px-3 outline-none rounded-sm shadow-md"
              placeholder="489 33 28 64" formControlName="phoneNumber" type="tel" />


          </div>



          <app-input-validation-error [control]="phoneNumber"></app-input-validation-error>



          <button type="submit" class="mt-5  text-white py-1 font-semibold px-3 rounded-sm shadow-sm"
            [class.bg-blue]="accountType.value === 'INFLUENCER'"
            [class.bg-orange]="accountType.value === 'BRAND'">Register</button>
          <div (click)="goToPage(5)" class="mx-auto mt-2 flex">
            <i class="fa-solid fa-arrow-left-long my-auto"></i>
            <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
          </div>




        </div>
      </form>
      <div class="absolute bottom-10 w-500 bottom-navigation-responsive">
    
        <app-pages-bottom-navigation [allPages]="allPages" [color]="actualPage === 1 ? 'gray' 
        : accountType.value === 'INFLUENCER' ? 'blue' 
        : accountType.value === 'BRAND' ? 'orange' : 'gray'"></app-pages-bottom-navigation>
      </div> 
    </div>
    </div>
  </div>
</ng-container>
