div {
  /*   border: 1px solid red;
  margin: 15px; */
}

.hidden {
  display: none;
}

/* form,
.flex {
  display: flex;
  flex-direction: column;
}
 */

.zz {
  width: 300%;
}

.zzz {
  width: 500px;
}
.z {
  width: max-content;
}
