<app-main-navbars [title]="'profile.edit.title'">

    <ng-container *transloco="let t; read: 'profile.edit'">


    <div class="flex m-4 flex-wrap  shadow-sm ">


        <div class="flex p-5 w-100">
        
            <p class="my-auto mx-2" (click)="changeActiveTab('Personal')" [ngClass]="active == 'Personal' ? 'active-' + color: ''" >
                {{ t('personalInformation.title') }}
            </p>
        
            <p *ngIf="profile?.userType == 'INFLUENCER'" class="my-auto mx-2" (click)="changeActiveTab('PartnershipDetails')" [ngClass]="active == 'PartnershipDetails' ? 'active-' + color: ''">
                {{ t('partnershipInformation.title') }}
            </p>
            
        </div>
        

        
        <div class="p-5  w-100">
            
            <ng-container *ngIf="profile?.userType == 'INFLUENCER'">
                
                <ng-container
                *ngIf="active == 'Personal'; then personal; else partnershipDetails">
                </ng-container>
            </ng-container>
        
        <ng-container *ngIf="profile?.userType == 'BRAND'">
        <ng-container 
            *ngIf="active == 'Personal'; then personal">
        </ng-container>
        </ng-container>
          
        </div>
  
  
    </div>
  
    



<ng-template #personal>
    <div class="flex">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('personalInformation.title') }}</h1>
        <h1 (click)="changeEditMode('personalInformationEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b border-none-sm py-5-sm">{{ t('personalInformation.firstName') }}</p>
        <p class="font-medium border-b text-gray-600 py-5-sm">{{this.profile?.firstName}}</p>


        <p class="font-medium border-b border-none-sm py-5-sm">{{ t('personalInformation.lastName') }}</p>
        <p class="font-medium border-b text-gray-600 py-5-sm">{{this.profile?.lastName}}</p>


        <p class="font-medium border-b border-none-sm mt-2 py-5-sm">{{ t('personalInformation.username') }}</p>
        <p class="font-medium border-b text-gray-600 py-5-sm">{{this.profile?.userName}}</p>

        <p class="font-medium border-b border-none-sm mt-2 py-5-sm">{{ t('personalInformation.gender') }}</p>
        <p class="font-medium border-b text-gray-600 py-5-sm">{{this.profile?.gender}}</p>


        <p class="font-medium border-b border-none-sm  mt-2 py-5-sm">{{ t('personalInformation.headtitle') }}</p>
        <p *ngIf="!personalInformationEditMode" class="font-medium border-b text-gray-600 border-none-sm py-5-sm">{{this.profile?.headTitle}}</p>
        <span *ngIf="personalInformationEditMode" class="font-medium border-b text-gray-600 border-none-sm py-5-sm">        
            <input type="text" #headtitle class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.headTitle}}">
        </span>

        <p class="font-medium border-b border-none-sm py-5-sm">{{ t('personalInformation.about') }}</p>
        <p *ngIf="!personalInformationEditMode" class="font-medium border-b text-gray-600  border-none-sm py-5-sm break-all">{{this.profile?.description}}</p>
        <span *ngIf="personalInformationEditMode" class="font-medium border-b text-gray-600 border-none-sm py-5-sm">       
            <textarea rows="5" #description class="w-100 p-1 border rounded-md border-gray-500 textarea-{{color}}">{{this.profile?.description}}</textarea> 
        </span>

        

        
    </div>
    <div *ngIf="personalInformationEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('personalInformationEditMode')">{{ t('confirm') }}</div>






    <div class="flex mt-10">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('personalInformation.languages') }}</h1>
        <h1 (click)="changeEditMode('languagesEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b border-none-sm">{{ t('personalInformation.languages') }}</p>
        <p *ngIf="!languagesEditMode" class="font-medium border-b text-gray-600">
            <ng-container *ngFor="let language of profile?.languages; let i = index">{{language.language}}<span *ngIf="profile?.languages?.length != 1 + i">, </span>
             </ng-container>
        </p>
        <span *ngIf="languagesEditMode" id="languages" class=" border-b text-gray-600 flex flex-col">
     
                <span class="flex my-auto mr-auto flex-wrap">
                    <select class="shadow-md select-{{color}}" name="languages" id="selectLanguages">
                        <ng-container *ngFor="let availableLanguage of availableLanguages">
                            <option value="{{availableLanguage}}">{{availableLanguage }}</option>
                        </ng-container>
                    </select>
                    <span (click)="addLanguage()" class="ml-2 addBtn rounded-sm my-auto text-lg text-center bg-{{color}} text-white font-semibold">+</span>
                </span>

                <span class="flex flex-wrap">
                    <span *ngFor="let item of languageList" class="language border-2 mr-1 my-2 py-1 px-2 border-{{color}} rounded-md">      
                        <span class="my-auto">{{ item }}</span>
                        <span (click)="removeLanguage(item)" class="my-auto ml-2">
                            <i class="fa-solid fa-trash-can text-red-600"></i>
                        </span> 
                    </span>
                </span>
            </span>






    </div>
    <div *ngIf="languagesEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('languagesEditMode')">{{ t('confirm') }}</div>


    <ng-container *ngIf="this.profile.userType == 'BRAND'">

    
    <div class="flex mt-10">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('personalInformation.socialMedia') }}</h1>
        <h1 (click)="changeEditMode('socialMediaEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b border-none-sm">{{ t('partnershipInformation.socialMedia') }}</p>
        <p *ngIf="!socialMediaEditMode" class="font-medium border-b text-gray-600">
            <ng-container *ngFor="let socialMedia of profile.socialMedia; let i = index">{{socialMedia.name}}<span *ngIf="profile.socialMedia.length != 1 + i">, </span></ng-container>
        </p>
        <span *ngIf="socialMediaEditMode" id="socialMedia" class=" border-b text-gray-600 flex flex-col">
     
                <span class="flex my-auto mr-auto flex-wrap">
                    <select class="shadow-md select-{{color}}" name="socialMedia" id="selectSocialMedia">
                        <ng-container *ngFor="let availableSocialMedia of availableSocialMedias">
                            <option value="{{availableSocialMedia}}">{{availableSocialMedia }}</option>
                        </ng-container>
                    </select>
                    <span (click)="addSocialMedia()" class="ml-2 addBtn rounded-sm my-auto text-lg text-center bg-{{color}} text-white font-semibold">+</span>
                </span>

                <span *ngFor="let item of socialMediaList"  class="flex flex-wrap">
                    <span class="language mr-1 my-2 py-1  rounded-md">      
                        <span class="my-auto  font-semibold">{{ item.name }}</span>
                        <span (click)="removeSocialMedia(item)" class="my-auto ml-2">
                            <i class="fa-solid fa-trash-can text-red-600"></i>
                        </span> 
                        <br>
                        <span class="my-auto">Link :</span>
                        <input id="link-{{item.name}}" type="text" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" placeholder="http://{{item.name}}.com/john" value="{{item.link}}">

                    </span>
                </span>
            </span>




            
            
        </div>
        
        <div *ngIf="socialMediaEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('socialMediaEditMode')">{{ t('confirm') }}</div>


    </ng-container>





    <div class="flex mt-10">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('personalInformation.sectors') }}</h1>
        <h1 (click)="changeEditMode('sectorsEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b border-none-sm">{{ t('personalInformation.sectors') }}</p>
        <p *ngIf="!sectorsEditMode" class="font-medium border-b text-gray-600">
            <ng-container *ngFor="let sector of profile?.sectors; let i = index">{{sector.sector}}<span *ngIf="profile?.sectors.length != 1 + i">, </span></ng-container>
        </p>
        <span *ngIf="sectorsEditMode" id="sectors" class=" border-b text-gray-600 flex flex-col">
     
                <span class="flex my-auto mr-auto ">
                    <select class="shadow-md select-{{color}}" name="sectors" id="selectSectors">
                        <ng-container *ngFor="let availableSector of availableSectors">
                            <option value="{{availableSector}}">{{availableSector }}</option>
                        </ng-container>
                    </select>
                    <span (click)="addSector()" class="ml-2 addBtn rounded-sm my-auto text-lg text-center bg-{{color}} text-white font-semibold">+</span>
                </span>

                <span class="flex flex-wrap">
                    <span *ngFor="let item of sectorList" class="language border-2 mr-1 my-2 py-1 px-2 border-{{color}} rounded-md">      
                        <span class="my-auto">{{ item }}</span>
                        <span (click)="removeSector(item)" class="my-auto ml-2">
                            <i class="fa-solid fa-trash-can text-red-600"></i>
                        </span> 
                    </span>
                </span>
            </span>






    </div>

    <div *ngIf="sectorsEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('sectorsEditMode')">{{ t('confirm') }}</div>






    <div class="flex mt-10">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('personalInformation.country') }}</h1>
        <h1 (click)="changeEditMode('countryEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b">{{ t('personalInformation.country') }}</p>
        <p *ngIf="!countryEditMode" class="font-medium border-b text-gray-600">
            <ng-container *ngFor="let country of profile?.countries; let i = index"> {{availableCountries[country.country].name}}<span *ngIf="profile.countries.length != 1 + i">, </span></ng-container>
        </p>
        <span *ngIf="countryEditMode" id="country" class=" border-b text-gray-600 flex flex-col">
     
                <span class="flex my-auto mr-auto">
                    <select class="shadow-md select-{{color}} w-200" name="country" id="selectCountries">
                        <ng-container *ngFor="let availableCountry of availableCountries | keyvalue">
                            <option value="{{availableCountry.key}}">{{availableCountry.value.name }}</option>
                        </ng-container>
                    </select>
                    <span (click)="addCountry()" class="ml-2 addBtn rounded-sm my-auto text-lg text-center bg-{{color}} text-white font-semibold">+</span>
                </span>

                <span class="flex flex-wrap">
                    <span *ngFor="let item of countryList" class="language border-2 mr-1 my-2 py-1 px-2 border-{{color}} rounded-md">      
                        <span class="my-auto">{{ availableCountries[item].name  }}</span>
                        <span (click)="removeCountry(item)" class="my-auto ml-2">
                            <i class="fa-solid fa-trash-can text-red-600"></i>
                        </span> 
                    </span>
                </span>
            </span>






    </div>




    <div *ngIf="countryEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('countryEditMode')">{{ t('confirm') }}</div>














    <div class="flex mt-10">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('personalInformation.homeDetails') }}</h1>
        <h1 (click)="changeEditMode('homeDetailsEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b">{{ t('personalInformation.country') }}</p>
        <p *ngIf="!homeDetailsEditMode" class="font-medium border-b text-gray-600">{{availableCountries[this.profile?.country].name}}</p>

 

        <span *ngIf="homeDetailsEditMode" class="flex my-auto border-b flex-col">

            <select #country class="shadow-md border-b flex w-200 select-{{color}}" name="languages">
                <ng-container *ngFor="let country of availableCountries | keyvalue">
                    <option value="{{ country.key }}" 
                    selected="{{ this.profile?.country == country.key ? 'selected' : ''}}">
                    {{ country.value.name }}</option>
                </ng-container>
            </select>
        </span>

        <p class="font-medium border-b mt-2">{{ t('personalInformation.city') }}</p>
        <p *ngIf="!homeDetailsEditMode" class="font-medium border-b text-gray-600">{{this.profile?.city}}</p>
        <span *ngIf="homeDetailsEditMode" class="font-medium border-b text-gray-600">        
            <input type="text" #city class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.city}}">
        </span>

        <p class="font-medium border-b">{{ t('personalInformation.address') }}</p>
        <p *ngIf="!homeDetailsEditMode" class="font-medium border-b text-gray-600">{{this.profile?.address}}</p>
        <span *ngIf="homeDetailsEditMode" class="font-medium border-b text-gray-600">        
            <input type="text" #address class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.address}}">
        </span>

        <p class="font-medium border-b">{{ t('personalInformation.postalCode') }}</p>
        <p *ngIf="!homeDetailsEditMode" class="font-medium border-b text-gray-600">{{this.profile?.postalCode}}</p>
        <span *ngIf="homeDetailsEditMode" class="font-medium border-b text-gray-600">        
            <input type="text" #postalCode class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.postalCode}}">
        </span>

    </div>


    <div *ngIf="homeDetailsEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('homeDetailsEditMode')">{{ t('confirm') }}</div>









    


</ng-template>











<ng-template #partnershipDetails  >
    <div class="flex">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('partnershipInformation.title') }}</h1>
        <h1 (click)="changeEditMode('socialMediaEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>
    </div>




    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b">{{ t('partnershipInformation.socialMedia') }}</p>
        <p *ngIf="!socialMediaEditMode" class="font-medium border-b text-gray-600">
            <ng-container *ngFor="let socialMedia of profile.socialMedia; let i = index">{{socialMedia.name}}<span *ngIf="profile.socialMedia.length != 1 + i">, </span></ng-container>
        </p>
        <span *ngIf="socialMediaEditMode" id="socialMedia" class=" border-b text-gray-600 flex flex-col">
     
                <span class="flex my-auto mr-auto">
                    <select class="shadow-md select-{{color}}" name="socialMedia" id="selectSocialMedia">
                        <ng-container *ngFor="let availableSocialMedia of availableSocialMedias">
                            <option value="{{availableSocialMedia}}">{{availableSocialMedia }}</option>
                        </ng-container>
                    </select>
                    <span (click)="addSocialMedia()" class="ml-2 addBtn rounded-sm my-auto text-lg text-center bg-{{color}} text-white font-semibold">+</span>
                </span>

                <span *ngFor="let item of socialMediaList"  class="flex flex-wrap">
                    <span class="language mr-1 my-2 py-1  rounded-md">      
                        <span class="my-auto  font-semibold">{{ item.name }}</span>
                        <span (click)="removeSocialMedia(item)" class="my-auto ml-2">
                            <i class="fa-solid fa-trash-can text-red-600"></i>
                        </span> 
                        <br>
                        <span class="my-auto">Link :</span>
                        <input id="link-{{item.name}}" type="text" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" placeholder="http://{{item.name}}.com/john" value="{{item.link}}">

                    </span>
                </span>
            </span>






    </div>




    <div class="grid m-2 display-block-sm">

        <p class="font-medium border-b">{{ t('partnershipInformation.followers') }}</p>
        <p *ngIf="!socialMediaEditMode" class="font-medium border-b text-gray-600">{{this.profile?.followers}}</p>
        <span *ngIf="socialMediaEditMode" class="font-medium border-b text-gray-600">        
            <input #followers step="1000" type="number" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.followers}}">
        </span>

        <p class="font-medium border-b">{{ t('partnershipInformation.pricePerPost') }}</p>
        <p *ngIf="!socialMediaEditMode" class="font-medium border-b text-gray-600">€{{this.profile?.postPrice}}</p>
        <span *ngIf="socialMediaEditMode" class="font-medium border-b text-gray-600">        
            <input #postPrice step="10" type="number" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.postPrice}}">
        </span>

        <p class="font-medium border-b mt-2">{{ t('partnershipInformation.pricePerStory') }}</p>
        <p *ngIf="!socialMediaEditMode" class="font-medium border-b text-gray-600">€{{this.profile?.storyPrice}}</p>
        <span *ngIf="socialMediaEditMode" class="font-medium border-b text-gray-600">        
            <input #storyPrice  step="10" type="number" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.storyPrice}}">
        </span>
        <p class="font-medium border-b mt-2">{{ t('partnershipInformation.pricePerHighlight') }}</p>
        <p *ngIf="!socialMediaEditMode" class="font-medium border-b text-gray-600">€{{this.profile?.highlightPrice}}</p>
        <span *ngIf="socialMediaEditMode" class="font-medium border-b text-gray-600">        
            <input #highlightPrice step="10" type="number" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.highlightPrice}}">
        </span>


    </div>

    <div *ngIf="socialMediaEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('socialMediaEditMode')">{{ t('confirm') }}</div>


    <div class="flex mt-10">
        <h1 class="m-2 text-lg font-semibold flex-1">{{ t('partnershipInformation.paymentInformation') }}</h1>
        <h1 (click)="changeEditMode('paymentInformationEditMode')" class="m-auto text-base font-semibold cursor-pointer">{{ t('edit') }}</h1>

    </div>


    <div class="grid m-2 display-block-sm">


        <p class="font-medium border-b">{{ t('partnershipInformation.IBANNumber') }}</p>
        <p *ngIf="!paymentInformationEditMode" class="font-medium border-b text-gray-600">{{this.profile?.ibanNumber}}</p>
        <span *ngIf="paymentInformationEditMode" class="font-medium border-b text-gray-600">        
            <input #ibanNumber type="text" class="p-1  w-max border rounded-md border-gray-500 input-{{color}}" value="{{this.profile?.ibanNumber}}">
        </span>






    </div>

    <div *ngIf="paymentInformationEditMode" class="m-auto bg-{{color}} px-2 py-1 font-semibold text-white w-fit rounded-sm shadow-sm" (click)="updateUser('paymentInformationEditMode')">{{ t('confirm') }}</div>


</ng-template>

</ng-container>



  </app-main-navbars>
  