@import "../../../../styles/variables";

.active {
    font-weight: 500;
    border-bottom: 2px solid $blue;
  }
  

.language {
  margin:10px;
}

.grid {

  grid-template-columns: 25% 75%;

  p {
    padding: 19px;

  }

  input {
    padding:10px;
    margin:7px;
    width:300px;

    &:focus {
      outline: none;
      border: 0.25px solid #4cade6 !important;
    }
  }




  textarea {

    padding:10px;
    margin:7px;
    min-height: fit-content;

    &:focus {
      outline: none;
      border: 0.25px solid #4cade6 !important;
    }

  }

 
}


select {
  background-color: #4cade6;

  padding:7px;
  margin:10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  
  &:focus {
      border:none;
      outline: none;
  }
}

option {
  background-color: white;
  color:black;
}


.addBtn {
  height:30px;
  width:30px;
}