<div class="flex w-4/5 m-auto" #containerRef  >
<ngx-charts-advanced-pie-chart  *ngIf="single.length"
(window:resize)="resizeChart(containerRef.offsetWidth)"

  
  [results]="single"
  [gradient]="gradient"
  [view]="view"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
    
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-advanced-pie-chart>

<!-- [scheme]="colorScheme" -->

  <ng-container *ngIf="!single.length">
    {{ 'statistics.earnings.noData' | transloco }}
  </ng-container>

</div>