<ng-container *transloco="let t; read: 'profile'">
  <app-main-navbars [title]="'profile.title'">


  <div class="flex m-2 ml-4 flex-wrap">
    <div class="img w-400 h-72 mr-10">
      <img *ngIf="profile?.id && user?.profilePicture" class="img max-h-72 mx-auto" src="https://fw-api-gateway.azurewebsites.net/api/image/{{profile?.id}}" alt="">

      <ng-container *ngIf="!isOther && profile">
        <input (change)="fileChange($event)"  type="file" name="changeProfile" id="changeProfile" hidden>
        <label  class="w-300 text-xs mb-2 font-semibold " for="changeProfile"> {{ t('changeProfile') }}</label>
      </ng-container>

    </div>


    <div class="flex flex-col m-2 mt-25-sm" [class.flex-1]="!isOther">
      <h3 class="text-3xl">{{ this.profile?.firstName }} {{ this.profile?.lastName }} </h3>
      <h4 class="text-xl flex-1">{{ this.profile?.headTitle }}</h4>

      <div class="flex text-base">
        <i class="my-auto fa-solid fa-location-dot"></i>
        <p class="ml-2 my-auto">{{ this.profile?.city }}</p>
      </div>


      <div class="flex text-base">
        <i class="my-auto fa-solid fa-phone"></i>
        <a href="tel:{{this.profile?.phoneNumber}}" class="ml-2 m-auto">{{ this.profile?.phoneNumber }}</a>
      </div>

      <div class="flex text-base">
        <i class="my-auto  fa-solid fa-envelope"></i>
        <a href="mailto:{{this.profile?.email}}"  class="ml-2 m-auto">{{ this.profile?.email }}</a>
      </div>

    </div>

    <div class="flex-col" *ngIf="isOther">
      <div *ngIf="profile?.userType == 'INFLUENCER' && user?.userType !== 'INFLUENCER' " [routerLink]="['/offer/new', profile?.id]"  class="mb-2 bg-{{color}} text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150 m-2">{{ t('sendOffer') }}</div>
      <div [routerLink]="['/chat', profile?.id]"  class="bg-{{color}} text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150 m-2">{{ t('sendMessage') }}</div>
    </div>
    
    
    <div *ngIf="!isOther">
      <div [routerLink]="['/profile/edit']"  class="bg-{{color}} text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150 m-2">{{ t('editProfile') }}</div>
    </div>
    
    
    
  </div>

  <div class="flex display-block-sm flex-wrap mt-10 pt-5 p-2 pl-4 bg-gray-100">
    
    
    
    <div>
      
      <h3 *ngIf="type == 'INFLUENCER'" class=" text-xl mb-2">{{ t('notes.received') }}</h3>
      <h3 *ngIf="type == 'BRAND'" class=" text-xl mb-2">{{ t('notes.sended') }}</h3>

      <div  class="w-400 bg-light-{{color}} h-500 mr-10 rounded shadow-md overflow-y-auto">
      <ng-container *ngFor="let item of ratings">
      <div class="bg-gray-50 m-2 p-2  rounded shadow">
        <div class="flex">

<!--           <img width="50px" *ngIf="type == 'INFLUENCER'" src="https://fw-api-gateway.azurewebsites.net/api/image/{{item?.brandId}}">
          <img width="50px" *ngIf="type == 'BRAND'" src="https://fw-api-gateway.azurewebsites.net/api/image/{{item?.influencerId}}">

-->          
          <p class="font-semibold flex-1">{{item?.user?.firstName + ' ' + item?.user?.lastName }}</p>
          
          <p class="font-semibold"> {{ item?.amount }} <i class="fa-regular fa-solid text-{{color}} fa-star"></i></p>
            

        </div>
        <p class="break-all">{{ item?.description }}</p>

        <div [routerLink]="['/chat/' + item?.brandId]"  class="bg-{{color}} text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150 my-2">{{ t('contact') }}</div>
      </div>
    </ng-container>

            
  </div>


    </div>

    <div class="flex flex-col m-2 w-1/3 w-100-sm">

      <ng-container #socialMedia>
        <h3 class="text-xl mb-2 ">{{ t('socialMedia') }}</h3>

        <ng-container *ngFor="let socialMedia of profile?.socialMedia">

          <div class="flex text-base">
            <img width="28px" src="../../../assets/icons/socials/{{socialMedia.name | uppercase}}.svg">
            <a href="/{{socialMedia.link}}" target="_blank" class="ml-2 my-auto font-semibold">{{socialMedia.name }}</a>
          </div>
        </ng-container>
      </ng-container>





      <ng-container #languages>
        <h3 class="mt-5 text-xl mb-2">{{ t('languages') }}</h3>

        <div class="flex">
          <ng-container *ngFor="let language of profile?.languages">

          <div class="text-base px-3 py-1 rounded bg-{{color}} font-semibold shadow-md text-white mr-2 mb-2">{{language.language}}</div>
           </ng-container>
        </div>
      </ng-container>





      <ng-container #countries>
        <h3 class="mt-3 text-xl mb-2">{{ t('countries') }}</h3>

        <div class="flex flex-wrap">
          <ng-container *ngFor="let country of profile?.countries">

          <div class="text-base px-3 py-1 rounded bg-{{color}} font-semibold shadow-md text-white mr-2 mb-2">{{ countryList[country.country].name }}</div>
          </ng-container>
        </div>
      </ng-container>





      <ng-container #sectors>
        <h3 class="mt-3 text-xl mb-2">{{ t('sectors') }}</h3>

        <div class="flex flex-wrap">
          <ng-container *ngFor="let sector of profile?.sectors">

          <div class="text-base px-3 py-1 rounded bg-{{color}} font-semibold shadow-md text-white mr-2 mb-2">{{sector.sector}}</div>
          </ng-container>
        </div>
      </ng-container>

    </div>




    <div class="w-1/3 w-100-sm mx-8-sm">
      <h3 class="mt-3 text-xl mb-2 ">{{ t('about') }}</h3>
      <p class="mr-5 break-all"> {{profile?.description}}</p>
    </div>




  </div>

</app-main-navbars>

</ng-container>