/* .container {
    display: block;
    position: relative;
 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #afaeae;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #afaeae;
  }
  

  .container input:checked ~ .checkmark {
    background-color: #4cade6;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */

select {
    background-color: #4cade6;

    color: white;
    font-weight: 500;
    
    &:focus {
        border:none;
        outline: none;
    }
  }
  
  option {
    background-color: white;
    color:black;
  }