<ng-container *transloco="let t; read: 'wizard'">
  <div class="flex flex-row h-screen">
    <div class="w-1/3 flex items-center bg-{{color}}">
      <div class="flex flex-col ml-14">

        <i (click)="returnBack()" class="absolute top-3 right-3 fa-solid fa-arrow-left text-xl" ></i>

        <img class="absolute top-3 left-3" width="135px" src="../../../../assets/logo/logo-white-{{color}}.svg">
        <app-pages-side-navigation (goToPage)='goToPage($event)' [allPages]="allPages" [color]="color">




        </app-pages-side-navigation>

      </div>
    </div>

    <div class="flex m-auto items-center">


      <form class="m-auto w-max" [formGroup]="wizardFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="p1" class="flex flex-col w-500" *ngIf="actualPage === 1">

          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('1.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('1.description') }}</h3>
          </div>


          <div class="flex w-500">
            <div >
              <label for="firstName" class="font-semibold ">{{ 'common.minimum' | transloco }}</label>
              <input step="25" id="firstName" class="mt-2 w-11/12 mr-2 py-1 px-3 outline-none rounded-sm shadow-md border"
                formControlName="minimumBudget" placeholder="200€" type="number" />
              <app-input-validation-error [control]="minimumBudget"></app-input-validation-error>
            </div>


            <div >

              <label for="firstName" class="font-semibold">{{ 'common.maximum' | transloco }}</label>
              <input step="25" id="firstName" class="mt-2  w-11/12 py-1 px-3 outline-none rounded-sm  shadow-md border"
                formControlName="maximumBudget" placeholder="800€" type="number" />
                <app-input-validation-error [control]="maximumBudget"></app-input-validation-error>
              </div>
              
            </div>

          <button type="button" (click)="goToPage(2)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.continue' | transloco }}</button>



          <div class="flex">
            <div class="flex-1"></div>
            <div (click)="goToPage(2)" class="mx-auto mt-2 flex">
              <p class="inline-block mr-2 my-auto cursor-pointer">{{ 'common.skip' | transloco }}</p>
              <i class="fa-solid fa-arrow-right-long my-auto"></i>
            </div>
          </div>

        </div>






        <div formGroupName="p2" class="flex flex-col w-500" *ngIf="actualPage === 2">




          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('2.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('2.description') }}</h3>
          </div>


          <div class="grid grid-cols-2 gap-3">

            <ng-container *ngFor="let item of socialMediaArray; let i = index">


              <label for="socialMedia{{ item }}" class="font-semibold p-5 rounded-md text-white"
              [ngClass]="!socialMedia.controls[i].value 
              ? 'bg-light-gray btn-hover-animation btn-hover-animation-' + color 
              : 'btn-unselected-animation-' + color">



                <input id="socialMedia{{ item }}" class="py-1 hidden px-3 outline-none rounded-sm shadow-md"
                  [formControl]="socialMedia.controls[i]" type="checkbox" />
                <p class="ml-2 relative  inline-block capitalize z-50">
                  {{ item }}
                </p>
              </label>


            </ng-container>


          </div>




          <button type="button" (click)="goToPage(3)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.continue' | transloco }}</button>

          <div class="flex">
            <div (click)="goToPage(1)" class="flex-1 mt-2 flex">
              <i class="fa-solid fa-arrow-left-long my-auto"></i>
              <p class="inline-block ml-2 my-auto cursor-pointer">{{ 'common.back' | transloco }}</p>
            </div>
            <div (click)="goToPage(3)" class="mx-auto mt-2 flex">
              <p class="inline-block mr-2 my-auto cursor-pointer">{{ 'common.skip' | transloco }}</p>
              <i class="fa-solid fa-arrow-right-long my-auto"></i>
            </div>
          </div>


        </div>


        <div formGroupName="p3" class="flex flex-col w-500" *ngIf="actualPage === 3">

          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('3.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('3.description') }}</h3>
          </div>


          <div class="flex">
            <div>
              <label for="firstName" class="font-semibold ">{{ 'common.minimum' | transloco }}</label>
              <input step="1000" id="firstName" class="mt-2 w-11/12 py-1 px-3 outline-none rounded-sm shadow-md border"
                formControlName="minimumFollowers" placeholder="10.000" type="number" />
              <app-input-validation-error [control]="minimumFollowers"></app-input-validation-error>
            </div>


            <div>

              <label for="firstName" class="font-semibold">{{ 'common.maximum' | transloco }}</label>
              <input step="1000" id="firstName" class="mt-2 w-11/12 py-1 px-3 outline-none rounded-sm shadow-md border"
                formControlName="maximumFollowers" placeholder="25.000" type="number" />
              <app-input-validation-error [control]="maximumFollowers"></app-input-validation-error>
            </div>

          </div>

          <button type="button" (click)="goToPage(4)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.continue' | transloco }}</button>



          <div class="flex">
            <div (click)="goToPage(2)" class="flex-1 mt-2 flex">
              <i class="fa-solid fa-arrow-left-long my-auto"></i>
              <p class="inline-block ml-2 my-auto cursor-pointer">{{ 'common.back' | transloco }}</p>
            </div>
            <div (click)="goToPage(4)" class="mx-auto mt-2 flex">
              <p class="inline-block mr-2 my-auto cursor-pointer">{{ 'common.skip' | transloco }}</p>
              <i class="fa-solid fa-arrow-right-long my-auto"></i>
            </div>
          </div>


        </div>






        <div formGroupName="p4" class="flex flex-col w-500" *ngIf="actualPage === 4">


          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('4.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('4.description') }}</h3>
          </div>


          <div class="flex">
            <div>
              <label for="firstName" class="font-semibold ">{{ 'common.minimum' | transloco }}</label>

              <input id="firstName" class="mt-2 py-1 w-11/12 px-3 outline-none rounded-sm shadow-md border"
                formControlName="minimumViewers" placeholder="10.000" type="number" />
              <app-input-validation-error [control]="minimumViewers"></app-input-validation-error>
            </div>


            <div>

              <label for="firstName" class="font-semibold">{{ 'common.maximum' | transloco }}</label>
              <input id="firstName" class="mt-2 py-1 w-11/12 px-3 outline-none rounded-sm shadow-md border"
                formControlName="maximumViewers" placeholder="25.000" type="number" />
              <app-input-validation-error [control]="maximumViewers"></app-input-validation-error>
            </div>

          </div>

          <button type="button" (click)="goToPage(5)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.continue' | transloco }}</button>



          <div class="flex">
            <div (click)="goToPage(3)" class="flex-1 mt-2 flex">
              <i class="fa-solid fa-arrow-left-long my-auto"></i>
              <p class="inline-block ml-2 my-auto cursor-pointer">{{ 'common.back' | transloco }}</p>
            </div>
            <div (click)="goToPage(5)" class="mx-auto mt-2 flex">
              <p class="inline-block mr-2 my-auto cursor-pointer">{{ 'common.skip' | transloco }}</p>
              <i class="fa-solid fa-arrow-right-long my-auto"></i>
            </div>
          </div>


        </div>


        <div formGroupName="p5" class="flex flex-col w-500" *ngIf="actualPage === 5">



          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('5.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('5.description') }}</h3>
          </div>




          <div class="flex">

            <div class="flex-1">
              <label for="gender" class="font-semibold ">{{ t('5.gender') }}</label>

              <select formControlName="gender" class="w-228 mt-2 py-1 px-3 outline-none rounded-sm shadow-md bg-{{color}}">
                  <option value="any">{{ 'common.genders.any' | transloco }}</option>
                  <option value="male">{{ 'common.genders.male' | transloco }}</option>
                  <option value="female">{{ 'common.genders.female' | transloco }}</option>
              </select>

              <app-input-validation-error [control]="gender"></app-input-validation-error>
            </div>


            <div class="flex-1">

              <label for="age" class="font-semibold">{{ t('5.age') }}</label>
              <input id="age" class="mt-2 py-1 w-11/12 px-3 outline-none rounded-sm shadow-md border"
                formControlName="age" placeholder="18" type="number" />
              <app-input-validation-error [control]="age"></app-input-validation-error>
            </div>




          </div>




          <button type="button" (click)="goToPage(6)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.continue' | transloco }}</button>


          <div class="flex">
            <div (click)="goToPage(4)" class="flex-1 mt-2 flex">
              <i class="fa-solid fa-arrow-left-long my-auto"></i>
              <p class="inline-block ml-2 my-auto cursor-pointer">{{ 'common.back' | transloco }}</p>
            </div>
            <div (click)="goToPage(6)" class="mx-auto mt-2 flex">
              <p class="inline-block mr-2 my-auto cursor-pointer">{{ 'common.skip' | transloco }}</p>
              <i class="fa-solid fa-arrow-right-long my-auto"></i>
            </div>
          </div>



        </div>







        <div formGroupName="p6" class="flex flex-col w-500" *ngIf="actualPage === 6">



          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('6.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('6.description') }}</h3>
          </div>




          <div class="grid grid-cols-2 gap-3">

            <ng-container *ngFor="let item of sectorsArray; let i = index">

    

              <label for="sectors{{ item }}" class="font-semibold p-3 rounded-md text-white "
              [ngClass]="!sectors.controls[i].value 
              ? 'bg-light-gray btn-hover-animation btn-hover-animation-' + color 
              : 'btn-unselected-animation-' + color"

                

                >
                <input id="sectors{{ item }}" class="py-1 hidden px-3 outline-none rounded-sm shadow-md"
                  [formControl]="sectors.controls[i]" type="checkbox" />
                  <p class="ml-2 relative  inline-block capitalize z-50">
                  {{ item }}
                  </p>
              </label>


            </ng-container>


          </div>



          <button type="button" (click)="goToPage(7)"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.continue' | transloco }}</button>


          <div class="flex">
            <div (click)="goToPage(5)" class="flex-1 mt-2 flex">
              <i class="fa-solid fa-arrow-left-long my-auto"></i>
              <p class="inline-block ml-2 my-auto cursor-pointer">{{ 'common.back' | transloco }}</p>
            </div>
            <div (click)="goToPage(7)" class="mx-auto mt-2 flex">
              <p class="inline-block mr-2 my-auto cursor-pointer">{{ 'common.skip' | transloco }}</p>
              <i class="fa-solid fa-arrow-right-long my-auto"></i>
            </div>
          </div>



        </div>























        <div formGroupName="p7" class="flex flex-col w-500" *ngIf="actualPage === 7">



          <div class="mb-5">
            <h2 class="flex flex-col text-4xl font-semibold">{{ t('7.title') }}</h2>
            <h3 class="flex flex-col text-lg">{{ t('7.description') }}</h3>
          </div>




          <div class="flex flex-col">
            
            <label for="country" class="font-semibold">{{ t('7.country') }}</label>


            <select formControlName="country" class="w-100 mt-2 py-1 px-3 outline-none rounded-sm shadow-md bg-{{color}}">

              <ng-container *ngFor="let item of countries | keyvalue">
                <option value="{{ item.key }}"
                  selected="{{ item.value.key == 'BE' ? 'selected' : '' }}">
                  {{ item.value.name }}</option>
              </ng-container>

            </select>
            



          </div>




          <button type="submit"
            class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">{{ 'common.search' | transloco }}</button>


          <div class="flex">
            <div (click)="goToPage(6)" class="flex-1 mt-2 flex">
              <i class="fa-solid fa-arrow-left-long my-auto"></i>
              <p class="inline-block ml-2 my-auto cursor-pointer">{{ 'common.back' | transloco }}</p>
            </div>
          </div>

        </div>


      </form>
      <div class="absolute bottom-10 w-500">

        <app-pages-bottom-navigation [allPages]="allPages" [color]="color"></app-pages-bottom-navigation>
      </div>
    </div>
  </div>
</ng-container>
