$blue : #4cade6 ;
$orange :  #e5844c;


select {
  color: white;
  font-weight: 500;
  &:focus {
      border:none;
      outline: none;
  }
}

option {
  background-color: white;
  color:black;
}

.w-228 {

  width: 228px;
}

.input-blue {

  &:focus {
    border: 0.25px solid $blue !important;
  }

}
.input-orange {

  &:focus {
    border: 0.25px solid $orange !important;
  }
}

