<ng-container *transloco="let t; read: 'dashboard.overview'">

    <form class="flex mb-2" [formGroup]="sortingFormGroup">
      <div class="flex-1" formGroupName="status">
  
  
  
  
  
      </div>
  
      <div formGroupName="sortTypes">
  
        <select (change)="this.filterAndSort()" formControlName="type" class="border px-2 py-1 rounded mr-2">
          <option value="new">{{ t('newest') }}</option>
          <option value="time">{{ t('time') }}</option>
          <option value="client">{{ t('client') }}</option>
          <option value="amount">{{ t('amount') }}</option>
          <option value="status">{{ t('status') }}</option>
        </select>
  
  
        <select (change)="this.filterAndSort()" formControlName="order" class="border px-2 py-1 rounded mr-2">
          <option value="ascending">{{ t('ascending') }}</option>
          <option value="descending">{{ t('descending') }}</option>
        </select>
  
      </div>
    </form>
  
  
   
  
    <table class="w-100 mt-10">
      <thead>
        <tr class="font-semibold">
          <td>{{ t('orderNumber') }}</td>
          <td>{{ t('status') }}</td>
          <td>{{ t('influencer') }}</td>
          <td>{{ t('socialMedia') }}</td>
          <td>{{ t('posts') }}</td>
          <td>{{ t('stories') }}</td>
          <td>{{ t('highlights') }}</td>
          <td>{{ t('price') }}</td>
          <td>{{ t('deadline') }}</td>
          <td></td>
          <td></td>

        </tr>
      </thead>
      <tbody>
        <tr class="animate__animated animate__fadeIn" *ngFor="let item of newEvents ? newEvents : offers as Offer">
          <td>{{ item.id }}</td>
          <td>
            <div (click)="null" class=" flex w-2/3  bg-gray-200 rounded-md text-sm p-1 font-semibold">
              <span class="my-auto mx-2 rounded-full status status-{{item.status}}"> </span>
              <span class="">{{ t(item.status) }}</span>
            </div>
          </td>   
          <td routerLink="/profile/{{item.influencerId}}">{{ item.influencerName }}</td>
          <td class="flex"><ng-container *ngFor="let socialMedia of item.socialMediaDetails"><img width="28px" src="assets/icons/socials/{{socialMedia.name | uppercase}}.svg"></ng-container></td>
          <td>{{ item.socialMediaDetails | socialMediaCounter : 'posts' }}</td>
          <td>{{ item.socialMediaDetails | socialMediaCounter : 'stories' }}</td>
          <td>{{ item.socialMediaDetails | socialMediaCounter : 'highlights' }}</td>
          <td>€{{ item.socialMediaDetails | socialMediaPriceCounter : 'total' }}</td>
          <td>
            <div class=" w-fit  bg-gray-200 rounded-md text-sm p-1 px-3 font-semibold">
              {{ item.startDate }} - {{ item.endDate }}
            </div>
          </td>
          <td> <div *ngIf="item.status == 'DONE' && item['toRate']" (click)="openRateModal(item)" class="border border-orange text-center rounded-sm text-orange text-sm p-1 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150">{{ t('rate') }}</div></td>
          <td> <span (click)="openDetailModal(item)" class="m-0  bg-orange  text-center rounded-sm font-semibold  text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150">{{ t('viewDetails') }}</span></td>

        </tr>
  
      </tbody>
    </table>

    <app-modal-regular [translate]="'modals.rate'" [data]="rate"  (acceptModal)="acceptRateModal()"(closeModal)="closeRateModal()" [showModal]="showRateModal">


      <p class="my-2 text-slate-500 text-lg leading-relaxed">
        {{ t('notes') }}:   
      </p>

      <select class="select" name="rateAmount" required id="rateAmount">
        <option value="">Select value</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <p class="my-2 text-slate-500 text-lg leading-relaxed">
        {{ t('description') }}:
      </p>

      <textarea required id="rateDescription" rows="5" #description class="w-100 p-1 border rounded-md border-gray-500 textarea-orange"></textarea> 


    </app-modal-regular>

    <app-modal-large [translate]="'modals.details'" [data]="partnership" (closeModal)="closeDetailModal()"  [showModal]="showDetailModal"></app-modal-large>

  </ng-container>