.border-blue {
  border: 1px solid $blue;
}
.border-light-blue {
  border: 1px solid $light-blue;
}
.border-orange {
  border: 1px solid $orange;
}
.border-light-orange {
  border: 1px solid $light-orange;
}
