$blue: #4cade6;
$light-blue: #bfe7ff;
$orange: #e5844c;

//$orange: #F07A33;
$light-orange: #ffb992;

.btn-hover-animation {

    z-index: 10;
    position: relative;
    overflow: hidden;
    width: 100%;
  
   
  /*   &:has(input:checked) {
  
      background-color: yellow;
  
    } */
  }



.btn-hover-animation:before, .btn-hover-animation:after {
  position: absolute;
  top: 50%;
  z-index: 0;
  content: "";
  width: 20px;
  height: 20px;
  /////////background-color: $light-blue;
  border-radius: 50%;
}
.btn-hover-animation-orange:before, .btn-hover-animation-orange:after {
  background-color: $light-orange;
}
.btn-hover-animation-blue:before, .btn-hover-animation-blue:after {
  background-color: $light-blue;
}


.btn-hover-animation:before {
  z-index: 0;
  left: -20px;
  transform: translate(-50%, -50%);

}
.btn-hover-animation:after {
  right: -20px;
  z-index: 0;
  transform: translate(50%, -50%);

}
.btn-hover-animation:hover {
transition: 1.2s color;
/* color: #222222 !important; */
///////// color: $blue !important;
}

.btn-hover-animation-blue:hover {
  color: $blue !important;
}


.btn-hover-animation-orange:hover {
  color: $orange !important;
}

.btn-hover-animation:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn-hover-animation:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}


@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 550px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 550px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 550px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 550px;
    height: 375px;
  }
}
 

.btn-unselected-animation-blue {
  animation: btn-unselected-anim-blue 0.5s both;
}

@keyframes btn-unselected-anim-blue {
  0% {
    background-color: $light-blue;
  }
  100% {
    background-color: $blue;
  }
}


.btn-unselected-animation-orange {
  animation: btn-unselected-anim-orange 0.5s both;
}

@keyframes btn-unselected-anim-orange {
  0% {
    background-color: $light-orange;
  }
  100% {
    background-color: $orange;
  }
}





.button-orange-filled-animation, .button-orange-border-animation, .button-blue-border-animation, .button-blue-filled-animation {
  &:hover {
    cursor:pointer;
    -webkit-box-shadow: 1px 1px 3px  #a0a0a0; 
    box-shadow: 1px 1px 3px  #a0a0a0;
  }
}

.button-blue-filled-animation {
  &:hover {
    background-color: #339cd8;
  }
}

.button-orange-filled-animation {
  &:hover {
    background-color: #da7236;
  
  }
}


.button-blue-border-animation {
  
  &:hover {
  }
}



.button-orange-border-animation {
  
  &:hover {

  }
}


.text-blue-animation {
  &:hover {
    font-weight: 600;
    }
}
.text-orange-animation {
  &:hover {
    font-weight: 600;
    }
}

.text-black-animation {
  display:inline-block;

  &:hover {
  font-weight: 500;
  }





}