<div class="main-grid relative  display-block-sm">

  <div class="main-grid-left-item hide-item-sm">
    <app-left-navigation></app-left-navigation>
  </div>

  <div class="main-grid-top-item">
    <app-top-navigation (dropdownToggle)='dropdownToggle()' [title]="title"></app-top-navigation>

    <div class="dropdown-menu w-40 p-2 z-10 bg-white rounded-sm shadow-md border" [class.hidden]="!dropdownActive" [class.slide-bottom]="dropdownActive">
      <ul>
        <li (click)="dropdownToggle()" [routerLink]="['/profile']" class="select-none my-2 text-black-animation cursor-pointer">{{ 'nav.myAccount' | transloco }}</li>
        <li (click)="logout()" class="select-none my-2 text-black-animation cursor-pointer">{{ 'nav.logout' | transloco }}</li>
        <li class="my-2 select-none"><app-change-language></app-change-language></li>
      </ul>
    </div>
  </div>
  
  <div class="main-grid-content w-100-sm mb-100-sm">
    <ng-content></ng-content>
  </div>


  <div class="hide-item-not-sm">
    <app-bottom-navigation-sm></app-bottom-navigation-sm>
  </div>
</div>


<!-- 
  <div class="hide-item-not-sm">

  <app-top-navigation (dropdownToggle)='dropdownToggle()' [title]="title"></app-top-navigation>

  <div class="dropdown-menu w-40 p-2 z-10 bg-white rounded-sm shadow-md border" [class.hidden]="!dropdownActive" [class.slide-bottom]="dropdownActive">
    <ul>
      <li (click)="dropdownToggle()" [routerLink]="['/profile']" class="select-none my-2 text-black-animation cursor-pointer">{{ 'nav.myAccount' | transloco }}</li>
      <li (click)="logout()" class="select-none my-2 text-black-animation cursor-pointer">{{ 'nav.logout' | transloco }}</li>
      <li class="my-2 select-none"><app-change-language></app-change-language></li>
    </ul>
  </div>

  
</div> 

-->