<ng-container *ngFor="let page of allPages; let i = index">


  <div (click)="goToPage.emit(i + 1)" class="flex" [class.cursor-pointer]="true">

    <ng-container *ngIf="direction === 'Right'">
      <p class="my-auto mr-2 text-white text-right flex-1" [class.font-semibold]="page.currentStatus === 'Active'">
        {{ 'sideNavigation.' + page.title | transloco }}
      </p>
    </ng-container>


    <ng-container *ngIf="page.currentStatus === 'Valid'">
      <i class="fa-solid fa-check p-2 bg-white rounded-sm border-2 border-white"></i>
    </ng-container>

    <ng-container *ngIf="page.currentStatus === 'Active'">
      <i class="fa-solid fa-square text-{{ color }} p-2 bg-white rounded-sm border-2 border-white"></i>
    </ng-container>

    <ng-container *ngIf="page.currentStatus === 'Future'">
      <i class="fa-solid fa-square text-white p-2 bg-{{ color }} rounded-sm border-2 border-white"></i>
    </ng-container>

    <ng-container *ngIf="direction === 'Left'">
      <p class="my-auto ml-2 text-white" [class.font-semibold]="page.currentStatus === 'Active'">
        {{ 'sideNavigation.' + page.title | transloco }}
      </p>
    </ng-container>


  </div>


  <div *ngIf="allPages.length - 1 > i" class="flex flex-row my-2">
    <div *ngIf="direction === 'Right'" class="flex-1"></div>
    <div [class.border-right-2]="direction === 'Left'" [class.border-left-2]="direction === 'Right'"
      class="vertical-line"></div>
    <div *ngIf="direction === 'Left'" class="flex-1"></div>
  </div>


</ng-container>
