<div class="flex w-300 m-2 bg-gray-100 flex-col p-2 shadow-md rounded-sm">


    <div class="flex  font-semibold">
        <p class="flex-1">{{ this.data.user?.firstName  + " " + this.data.user?.lastName }}</p>
    </div>
    <p>{{this.data?.brand.headTitle }} </p>

    <p>{{ countries[data?.user?.country].name}}</p>


    <div class="socials flex">
        <ng-container *ngFor="let item of this.data.brand.socialMedia">
            <img width="25px" src="../../../../assets/icons/socials/{{item.name | uppercase }}.svg">
        </ng-container>
    </div>
    <br>



    <br>

    <div class="flex mt-2">


        <span class="m-auto mb-2">
            <a routerLink="/profile/{{this.data.user.id}}" class="bg-{{color}} m-0   text-center rounded-sm font-semibold  text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150">
                {{ 'search.goToProfile' | transloco }}</a>
        </span>
    </div>

</div>