<app-main-navbars [title]="'dashboard.title'">

  <div class="m-6">

  <div class="flex flex-wrap justify-between">
    <div class="flex-1 mr-2">
      <app-card [data]="data1"></app-card>
    </div>
    <div class="flex-1 ml-2 mr-2">
      <app-card [data]="data2"></app-card>
    </div>

    <div class="flex-1 ml-2 mr-2">
      <app-card [data]="data3"></app-card>
    </div>

    
    <div class="flex-1 ml-2">
      <app-card [data]="data4"></app-card>
    </div>
  </div>

  </div>

  <div (click)="pay()">Pay</div>

  <div class="m-2">

    <app-overview></app-overview>

  </div>

</app-main-navbars>
