<app-main-navbars [title]="'dashboard.title'">

  <div class="m-6">

  <div  id="step6" class="flex flex-wrap justify-between">
    <div class="flex-1 mr-2">
      <app-card [data]="data1"></app-card>
    </div>
    <div class="flex-1 ml-2 mr-2">
      <app-card [data]="data2"></app-card>
    </div>

    <ng-container *ngIf="user.userType == 'INFLUENCER'">
    <div  class="flex-1 ml-2 mr-2">
      <app-card [data]="data3"></app-card>
    </div>

    
    <div class="flex-1 ml-2">
      <app-card [data]="data4"></app-card>
    </div>
  </ng-container>
  </div>

  </div>


  <div class="m-6">

    <app-overview></app-overview>

  </div>

</app-main-navbars>
