<div class="">

    <div class="flex p-5  border-blue">
      <p class="m-2 text-xl flex-1">{{ 'statistics.earnings.title' | transloco }}</p>
  
      <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('Total')" [ngClass]="active == 'Total' ? 'active-' + color: ''">
        {{ 'statistics.earnings.total' | transloco }}
      </p>
  
      <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('Month')" [ngClass]="active == 'Month' ? 'active-' + color: ''">
        {{ 'statistics.earnings.month' | transloco }}
      </p>
  
      <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('Week')" [ngClass]="active == 'Week' ? 'active-' + color: ''">
        {{ 'statistics.earnings.week' | transloco }}
      </p>
  
    </div>
  
    <hr class="p-5 mx-6">
  
    
  
    <div class="p-5 pt-0">
  
    <ng-container *ngIf="active === 'Total'">
        <app-line-chart [data]="{statistics: statistics, active: 'Total'}" ></app-line-chart>
        <ng-container *ngIf="(statistics?.totalEarningsGraphData | json) == '{}'">
          {{ 'statistics.earnings.noData' | transloco }}
        </ng-container>
    </ng-container>
  



  
    <ng-container *ngIf="active === 'Month'">
        <app-line-chart [data]="{statistics: statistics, active: 'Month'}"></app-line-chart>
        <ng-container *ngIf="(statistics?.totalEarningsMonthGraphData | json) == '{}'">
          {{ 'statistics.earnings.noData' | transloco }}
        </ng-container>
    </ng-container>
      
      
      
      
      
    <ng-container *ngIf="active === 'Week'">
      <app-line-chart [data]="{statistics: statistics, active: 'Week'}"></app-line-chart>
      <ng-container *ngIf="(statistics?.totalEarningsWeekGraphData | json) == '{}'">
        {{ 'statistics.earnings.noData' | transloco }}
      </ng-container>
    </ng-container>
  
  
  
    </div>  