<ng-container *transloco="let t; read: 'search'">

<app-main-navbars [title]="'Search'">

<div class="flex">


<div class="search-tool w-300 bg-gray-50">

    <div [routerLink]="'/wizard'" class="flex bg-{{color}} button-orange-filled-animation px-6 py-8 text-white">
        <p class="font-bold m-auto">{{ t('launchWizard') }}</p>
        <span><i class="fa-solid fa-arrow-right"></i></span>
    </div>


    <form class="m-2" [formGroup]="searchFormGroup" >

        <div class="flex p-2 pl-0">
            <p class="flex-1 text-{{color}} font-semibold">{{ t('filterBy') }}</p>
            <p (click)="resetFilters()" class="text-gray-600 cursor-pointer hover:text-black font-semibold text-sm m-auto">{{ t('resetFilters') }}</p>
        </div>




        <div formGroupName="i1">    
            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('socialMedia') }}</p>
            <div *ngFor="let item of socialMediaArrayCapitalized; let i = index">
                <input (change)="filterAndSort()" [formControl]="socialMedia.controls[i]" class="mr-2  checkbox-{{color}}" type="checkbox" name="socials" value="{{item}}" id="{{item}}">
                <label for="{{item}}">{{item}}</label>
            </div>
        </div>





        <div formGroupName="i2">    

            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('type') }}</p>
            <div>
                <input [formControl]="type.controls[0]" class="mr-2 checkbox-{{color}}" type="checkbox" name="type" value="type" id="type">
                <label for="type">{{ t('post') }}</label>
            </div>
            <div>
                <input [formControl]="type.controls[1]" class="mr-2 checkbox-{{color}}" type="checkbox" name="type" value="story" id="story">
                <label for="story">{{ t('story') }}</label>
            </div>
            <div>
                <input [formControl]="type.controls[2]" class="mr-2 checkbox-{{color}}" type="checkbox" name="type" value="highlight" id="highlight">
                <label for="highlight">{{ t('highlight') }}</label>
            </div>

        </div>


        
        <div formGroupName="i3">    
            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('notes') }}</p>
            <div>
                <i (mouseleave)="unFillStar()" (click)="clickStars(1)" (mouseenter)="fillStar(1)" [class.fa-solid]='hoverStars > 0' class="fa-regular fa-star"></i>
                <i (mouseleave)="unFillStar()" (click)="clickStars(2)" (mouseenter)="fillStar(2)" [class.fa-solid]='hoverStars > 1' class="fa-regular fa-star"></i>
                <i (mouseleave)="unFillStar()" (click)="clickStars(3)" (mouseenter)="fillStar(3)" [class.fa-solid]='hoverStars > 2' class="fa-regular fa-star"></i>
                <i (mouseleave)="unFillStar()" (click)="clickStars(4)" (mouseenter)="fillStar(4)" [class.fa-solid]='hoverStars > 3' class="fa-regular fa-star"></i>
                <i (mouseleave)="unFillStar()" (click)="clickStars(5)" (mouseenter)="fillStar(5)" [class.fa-solid]='hoverStars > 4' class="fa-regular fa-star"></i>
            </div>
        </div>

        <div>    
            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('budget') }}</p>
            <div>
                <ngx-slider   (userChangeEnd)="filterAndSort()"   [(value)]="minimumBudget" [(highValue)]="maximumBudget" [options]="budgetOptions"></ngx-slider>
            </div>
        </div>


        <div>    
            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('amountFollowers') }}</p>
            <div>
                <ngx-slider (userChangeEnd)="filterAndSort()" [(value)]="minimumFollowers" [(highValue)]="maximumFollowers" [options]="followersOptions"></ngx-slider>
            </div>
        </div>



        <div formGroupName="i7">    
            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('gender') }}</p>
            <select (change)="filterAndSort()" formControlName="gender" class="shadow-md bg-{{color}}" name="gender" id="gender">
                <option value="any">{{ t('any') }}</option>
                <option value="male">{{ t('man') }}</option>
                <option value="female">{{ t('girl') }}</option>
            </select>
        </div>



        <div formGroupName="i8">    
            <p class="text-gray-600 font-semibold text-sm my-3">{{ t('age') }}</p>
            <input (change)="filterAndSort()" [formControl]="age" class="mr-2 w-100 p-2 outline-none border rounded-md border-{{color}}" type="number" name="age" id="age">
        </div>








        <div formGroupName="i10">    

        <p class="text-gray-600 font-semibold text-sm my-3">{{ t('sectors.title') }}</p>


        <div *ngFor="let item of sectorsArray; let i = index">
            <input (change)="filterAndSort()" [formControl]="sectors.controls[i]" id="sector-{{ item }}" name="sector-{{item}}" class="mr-2 checkbox-{{color}}"  type="checkbox" />
            <label for="sector-{{ item }}">{{ t('sectors.' + item) }}</label>
        </div>

        </div>



    </form>
</div>

<div class="results flex-1">

    <div class="search flex m-5">
        <input  (keyup)="filterAndSort()" id="searchInput" type="text" class="border w-100 py-2 px-4" placeholder="Search for influencers or for posts">
        <button class="py-4 px-8 bg-{{color}} text-white font-semibold">{{ t('search') }}</button>
    </div>




<div class="flex flex-wrap">
    <ng-container *ngFor="let data of newResults ? newResults : results">
        
        <app-search-card [data]="data"></app-search-card>

    </ng-container>
</div>
</div>

</div>
</app-main-navbars>

</ng-container>