<ng-container *transloco="let t; read: 'z'">
  <table class="w-100">
    <thead>
      <tr>
        <td class="font-semibold">{{ t('orderNumber') }}</td>
        <td class="font-semibold">{{ t('client') }}</td>
        <td class="font-semibold">{{ t('socialMedia') }}</td>
        <td class="font-semibold">{{ t('posts') }}</td>
        <td class="font-semibold">{{ t('stories') }}</td>
        <td class="font-semibold">{{ t('highlights') }}</td>
        <td class="font-semibold">{{ t('dates') }}</td>
        <td class="font-semibold">{{ t('files') }}</td>
        <td class="font-semibold">zz</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>aa</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
      </tr>
      <tr>
        <td>aa</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
      </tr>
    </tbody>
  </table>
</ng-container>
