<ng-container *transloco="let t; read: 'dashboard.overview.upcoming'">


  <form class="flex mb-2" [formGroup]="sortingFormGroup">
    <div class="flex-1" formGroupName="status">



      <label (change)="this.filterAndSort()" for="inProgress" class="inline-block px-3 text-sm py-2 rounded-md mr-2" [class.bg-light-gray]="!inProgress.value"
        [class.bg-blue]="inProgress.value">
        <input formControlName="inProgress" id="inProgress" class="p-0 outline-none rounded-sm shadow-md" type="checkbox" />
        <p class="ml-2 text-white inline-block">
          In progress
        </p>
      </label>


      <label (change)="this.filterAndSort()" for="pending" class="inline-block px-3 text-sm py-2 rounded-md bg-blue mr-2" [class.bg-light-gray]="!pending.value"
        [class.bg-blue]="pending.value">
        <input formControlName="pending" id="pending" class="p-0 outline-none rounded-sm shadow-md" type="checkbox" />
        <p class="ml-2 text-white inline-block">
          Pending
        </p>
      </label>



    </div>

    <div formGroupName="sortTypes">

      <select (change)="this.filterAndSort()" formControlName="type" class="border px-2 py-1 rounded mr-2">
        <option value="new">Newest</option>
        <option value="time">Time</option>
        <option value="client">Client</option>
        <option value="amount">Amounts</option>
      </select>


      <select (change)="this.filterAndSort()" formControlName="order" class="border px-2 py-1 rounded mr-2">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
      </select>

    </div>
  </form>



  <table class="w-100 mt-10">
    <thead>
      <tr class="font-semibold">
        <td>{{ t('orderNumber') }}</td>
        <td>{{ t('status') }}</td>
        <td>{{ t('client') }}</td>
        <td>{{ t('posts') }}</td>
        <td>{{ t('stories') }}</td>
        <td>{{ t('highlights') }}</td>
        <td>{{ t('price') }}</td>
        <td>{{ t('deadline') }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of newEvents ? newEvents : offers as Offer">
        <td>{{ item.id }}</td>
        <td>
          <div (click)="null" class=" flex w-2/3  bg-gray-200 rounded-md text-sm p-1 font-semibold">
            <span class="my-auto mx-2 rounded-full status status-{{item.status}}"> </span>
            <span>{{ item.status }}</span>
          </div>
        </td>        
        <td class="flex"><ng-container *ngFor="let socialMedia of item.socialMediaDetails"><img width="28px" src="assets/icons/socials/{{socialMedia.name}}.svg"></ng-container></td>
        <td>{{ item.socialMediaDetails | socialMediaCounter : 'posts' }}</td>
        <td>{{ item.socialMediaDetails | socialMediaCounter : 'stories' }}</td>
        <td>{{ item.socialMediaDetails | socialMediaCounter : 'highlights' }}</td>
        <td>{{ item.startDate }} - {{ item.endDate }}</td>
        <td>{{ item.orderId }}</td>
        <td> <div (click)="null" class="border border-blue text-center rounded-md text-blue text-sm p-1 font-semibold">View Details</div></td>
      </tr>

    </tbody>
  </table>
</ng-container>
