<ng-container *transloco="let t; read: 'dashboard.overview.upcoming'">
  <table class="w-100">
    <thead>
      <tr class="font-semibold">
        <td>{{ t('orderNumber') }}</td>
        <td>{{ t('status') }}</td>
        <td>{{ t('client') }}</td>
        <td>{{ t('????') }}</td>
        <td>{{ t('price') }}</td>
        <td>{{ t('promotionalCode') }}</td>
        <td>{{ t('deadline') }}</td>
        <td>{{ t('????') }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>aa</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
      </tr>
      <tr>
        <td>aa</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
        <td>zz</td>
      </tr>
    </tbody>
  </table>
</ng-container>
