<div class="flex w-300 m-2 bg-gray-100 flex-col p-2">

    <img src="zz" alt="">


    <div class="flex  font-semibold">
        <p class="flex-1">{{ this.data.user?.firstName  + " " + this.data.user?.lastName }}</p>
        <p>5 <i class="fa-solid fa-star text-gray-700"></i></p>
    </div>

    <p>Belgium</p>


    <div class="socials flex">
        <ng-container *ngFor="let item of this.data.influencer.socialMedia">
            <img width="25px" src="../../../../assets/icons/socials/{{item.name | uppercase }}.svg">
        </ng-container>
    </div>


    <div class="flex mt-20">
        <span class="flex-1 text-gray-700">
            <p><i class="fa-solid fa-tags text-gray-700 mr-2"></i>{{ this.data?.influencer | averagePrice}}</p>
            <p><i class="fa-solid fa-user-group text-gray-700 mr-2"></i>10k - 15k</p>
        </span>

        <span class="m-auto">
            <a routerLink="/profile/{{this.data.user.id}}" class="bg-{{color}} px-2 py-1 rounded-md text-white text-sm font-semibold">Go to profile</a>
        </span>
    </div>

</div>