$size: 37px;
$light-orange: #ffb992;
$light-blue: #bfe7ff;


.background {

    position: absolute;
    width: $size;
    height: calc(100% + 15px + 5px);
    height: $size;
    
    z-index: 1;



}

.color-blue {
    border: 3px solid $light-blue;

}

.color-orange {

    border: 3px solid $light-orange;

}


.square {
    border-radius: 3px;
}

.square-1-top-left {
    top:5px;
    left:5px;
}

.square-2-top-left {
    top: calc(calc($size / 2 + 5px));
    left: calc(calc($size / 2 + 5px));
}

.square-3-top-left {
    top: calc($size + 5px);
    left:calc($size + 5px);
}


.square-1-top-right {
    top:5px;
    right:5px;
}


.square-2-top-right {
    top: calc($size / 2 + 5px);
    right: calc($size / 2 + 5px);
}

.square-3-top-right {
    top: calc($size + 5px);
    right:calc($size + 5px);
}




.square-1-bottom-left {
    bottom:5px;
    left:5px;
}

.square-2-bottom-left {
    bottom: calc($size / 2 + 5px);
    left: calc($size / 2 + 5px);
}

.square-3-bottom-left {
    bottom: calc($size + 5px);
    left:calc($size + 5px);
}



.square-1-bottom-right {
    bottom:5px;
    right:5px;
}


.square-2-bottom-right {
    bottom: calc($size / 2 + 5px);
    right: calc($size / 2 + 5px);
}

.square-3-bottom-right {
    bottom: calc($size + 5px);
    right:calc($size + 5px);
}