<ng-container *transloco="let t; read: 'dashboard.overview'">


    <form class="flex mb-2" [formGroup]="sortingFormGroup">
      <div class="flex-1" formGroupName="status">
  
        <div class="grid grid-cols-2 gap-3 w-fit">


          <label (change)="this.filterAndSort()" for="done" class="text-center w-100 font-semibold p-2 px-3 rounded-md text-white "
          [ngClass]="!done.value 
          ? 'bg-light-gray btn-hover-animation btn-hover-animation-blue' 
          : 'btn-unselected-animation-blue'">
            <input id="done" class="py-1 hidden px-3 outline-none rounded-sm shadow-md"
              [formControl]="done" type="checkbox" />
            <p class="relative text-sm inline-block capitalize z-50">{{ t('done') }}</p>
  
          </label>
  
  
  
          <label (change)="this.filterAndSort()" for="declined" class="text-center w-100 font-semibold p-2 rounded-md text-white "
          [ngClass]="!declined.value 
          ? 'bg-light-gray btn-hover-animation btn-hover-animation-blue' 
          : 'btn-unselected-animation-blue'">
  
            <input id="declined" class="py-1 hidden px-3 outline-none rounded-sm shadow-md"
              [formControl]="declined" type="checkbox" />
              <p class="relative text-sm inline-block capitalize z-50">{{ t('declined') }}</p>
            </label>
  
        </div>
  
  
  
  
      </div>
  
      <div formGroupName="sortTypes">
  
        <select (change)="this.filterAndSort()" formControlName="type" class="border px-2 py-1 rounded mr-2">
          <option value="new">{{ t('newest') }}</option>
          <option value="time">{{ t('time') }}</option>
          <option value="client">{{ t('client') }}</option>
          <option value="amount">{{ t('amount') }}</option>
          <option value="status">{{ t('status') }}</option>
        </select>
  
  
        <select (change)="this.filterAndSort()" formControlName="order" class="border px-2 py-1 rounded mr-2">
          <option value="ascending">{{ t('ascending') }}</option>
          <option value="descending">{{ t('descending') }}</option>
        </select>
  
      </div>
    </form>
  
  
  
    <table class="w-100 mt-10">
      <thead>
        <tr class="font-semibold">
          <td>{{ t('orderNumber') }}</td>
          <td>{{ t('status') }}</td>
          <td>{{ t('customer') }}</td>
          <td>{{ t('socialMedia') }}</td>
          <td>{{ t('posts') }}</td>
          <td>{{ t('stories') }}</td>
          <td>{{ t('highlights') }}</td>
          <td>{{ t('price') }}</td>
          <td>{{ t('deadline') }}</td>
          <td></td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of newEvents ? newEvents : offers as Offer">
          <td>{{ item.id }}</td>
          <td>
                <div (click)="null" class=" flex w-2/3  bg-gray-200 rounded-md text-sm p-1 font-semibold">
                  <span class="my-auto mx-2 rounded-full status status-{{item.status}}"> </span>
                  <span>{{  t(item.status) }}</span>
                </div>
          </td>
          <td routerLink="/profile/{{item.brandId}}">{{ item.brandName }}</td>

          <td class="flex"><ng-container *ngFor="let socialMedia of item.socialMediaDetails"><img width="28px" src="assets/icons/socials/{{socialMedia.name | uppercase}}.svg"></ng-container></td>
          <td>{{ item.socialMediaDetails | socialMediaCounter : 'posts' }}</td>
          <td>{{ item.socialMediaDetails | socialMediaCounter : 'stories' }}</td>
          <td>{{ item.socialMediaDetails | socialMediaCounter : 'highlights' }}</td>
          <td>€{{ item.socialMediaDetails | socialMediaPriceCounter : 'total' }}</td>
          <td>
            <div class=" w-fit  bg-gray-200 rounded-md text-sm p-1 px-3 font-semibold">
              {{ item.startDate }} - {{ item.endDate }}
            </div>
          </td>
          <td> <span (click)="openDetailModal(item)" class="m-0  bg-blue  text-center rounded-sm font-semibold text-white text-sm py-1.5 px-3 shadow hover:shadow-lg ease-linear cursor-pointer transition-all duration-150">{{ t('viewDetails') }}</span></td>

        </tr>
  
      </tbody>
    </table>

    <app-modal-large [translate]="'modals.details'" [data]="partnership" (closeModal)="closeDetailModal()" [showModal]="showDetailModal"></app-modal-large>

  </ng-container>
  