



  <div class="flex m-2 pt-6 border-{{color}} display-block-sm">
    <p id="" class=" text-xl flex-1">{{ 'dashboard.overview.overviewTitle' | transloco }}</p>

    <div id="step7" class="mt-25-sm" *ngIf="color == 'blue'">
        
        
        <p class="my-auto mr-2 text-black-animation cursor-pointer" (click)="changeActiveTab('1')" [ngClass]="active == '1' ? 'active-' + color: ''">
          {{ 'dashboard.overview.upcomingEvents' | transloco }}
        </p>
        
        <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('2')" [ngClass]="active == '2' ? 'active-' + color: ''" >
      {{ 'dashboard.overview.requests' | transloco }}
    </p>

    <p class="my-auto mx-2  text-black-animation cursor-pointer" (click)="changeActiveTab('3')" [ngClass]="active == '3' ? 'active-' + color: ''">
      {{ 'dashboard.overview.history' | transloco }}
    </p>
    
  </div>
  

  <div id="step7" class="mt-25-sm" *ngIf="color == 'orange'">

      <p class="my-auto mr-2 text-black-animation cursor-pointer " (click)="changeActiveTab('1')" [ngClass]="active == '1' ? 'active-' + color: ''">
        {{ 'dashboard.overview.progress'  | transloco }}
      </p>
      <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('2')" [ngClass]="active == '2' ? 'active-' + color: ''" >
        {{ 'dashboard.overview.requested'  | transloco }}
      </p>

      <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('3')" [ngClass]="active == '3' ? 'active-' + color: ''">
        {{ 'dashboard.overview.pay' | transloco  }}
      </p>
  
  
      <p class="my-auto mx-2 text-black-animation cursor-pointer" (click)="changeActiveTab('4')" [ngClass]="active == '4' ? 'active-' + color: ''">
        {{ 'dashboard.overview.history' | transloco  }}
      </p>
  
    </div>
    
  </div>

  <hr class="p-5">

  

  <ng-container class="p-5 pt-0 ">

    <ng-container *ngIf="color == 'blue'">

      <ng-container *ngIf="active === '1'">

          <app-influencer-upcoming-events [offers]="upcoming" (refreshData)="refreshData()"></app-influencer-upcoming-events>
      </ng-container>

      <ng-container *ngIf="active === '2'">
        <app-influencer-request [offers]="request" (refreshData)="refreshData()"></app-influencer-request>
      </ng-container>

      
      <ng-container *ngIf="active === '3'">
        <app-influencer-history [offers]="history"></app-influencer-history>
      </ng-container>

    </ng-container>




    <ng-container *ngIf="color == 'orange'">

      <ng-container *ngIf="active === '1'">
        <app-in-progress [offers]="inProgress"></app-in-progress>
      </ng-container>

      <ng-container *ngIf="active === '2'">
        <app-brand-requested [offers]="request"></app-brand-requested>
      </ng-container>
      
      <ng-container *ngIf="active === '3'">
        <app-brand-to-pay [offers]="upcoming" ></app-brand-to-pay>
      </ng-container>

      
      <ng-container *ngIf="active === '4'">
        <app-brand-history [offers]="history" (refreshData)="refreshData()"></app-brand-history>
      </ng-container>

    </ng-container>


  
    
    
  </ng-container>