<ng-container *transloco="let t; read: 'offers'">
<div class="flex flex-row h-screen">


  <div class="flex m-auto items-center">


    <form class="m-auto w-max" [formGroup]="offerFormGroup" (ngSubmit)="onSubmit()">
      <div formGroupName="p1" class="flex flex-col w-500" *ngIf="actualPage === 1">

        <div class="mb-5">
          <h2 class="flex flex-col text-4xl font-semibold">{{ t('p1.title') }}</h2>
          <h3 class="flex flex-col text-lg">{{ t('p1.description') }}</h3>
        </div>

        <ng-container *ngFor="let item of socialMediaArray; let i = index;">

          <ng-container *ngFor="let social of influencerProfile?.socialMedia">

         <ng-container  *ngIf="item == social.name">



          <label for="socialMedia{{item}}" class="font-semibold mb-1 p-6 rounded-md text-white"
              [ngClass]="!socialMedia.controls[i].value 
          ? 'bg-light-gray btn-hover-animation btn-hover-animation-' + color 
          : 'btn-unselected-animation-' + color">

            <input id="socialMedia{{item}}" class="py-1 hidden px-3 outline-none rounded-sm shadow-md"
              [formControl]="socialMedia?.controls[i]" type="checkbox" />
            <p class="ml-2 relative  inline-block capitalize z-50">
              {{item}}
            </p>
          </label>
      </ng-container>

        </ng-container>
      </ng-container>



        <app-input-validation-error [control]="socialMedia"></app-input-validation-error>


        <button type="button" (click)="goToPage(2)"
          class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">Continue</button>



      </div>




      <div formGroupName="p2" class="flex flex-col w-500" *ngIf="actualPage === 2">


        <div class="mb-5">
          <h2 class="flex flex-col text-4xl font-semibold">{{ t('p2.title') }}</h2>
          <h3 class="flex flex-col text-lg">{{ t('p2.description') }}</h3>
        </div>


        <ng-container *ngFor="let item of socialMediaDetails">
          <app-social-media-details
            [color]="color"
            (addOrRemoveSocialMediaDetails)='addOrRemoveSocialMediaDetails($event)'
            [socialMediaDetails]='item'>
          </app-social-media-details>
        </ng-container>



        <ng-container *ngIf="!socialMediaDetailsValid; else space">
          <p class="text-red-600"> {{ 'validations.socialMediaRequired' | transloco }} </p>
        </ng-container>
        <ng-template #space>&nbsp;</ng-template>





        <button type="button" (click)="goToPage(3)"
          class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}}">Continue</button>
        <div (click)="goToPage(1)" class="mx-auto mt-2 flex">
          <i class="fa-solid fa-arrow-left-long my-auto cursor-pointer"></i>
          <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
        </div>


      </div>

      <div formGroupName="p3" class="flex flex-col w-500" *ngIf="actualPage === 3">

        <div class="mb-5">
          <h2 class="flex flex-col text-4xl font-semibold">{{ t('p3.title') }}</h2>
          <h3 class="flex flex-col text-lg">{{ t('p3.description') }}</h3>
        </div>






        <label for="startDate" class="font-semibold mb-1">Start date</label>

        <input id="startDate" type="date" class="py-1 px-3 outline-none rounded-sm shadow-md border"
          formControlName="startDate">
        <app-input-validation-error [control]="startDate"></app-input-validation-error>

        <label for="endDate" class="font-semibold mb-1">End date</label>

        <input id="endDate" type="date" class="py-1 px-3 outline-none rounded-sm shadow-md border"
          formControlName="endDate">

        <app-input-validation-error [control]="endDate"></app-input-validation-error>



        <button type="button" (click)="goToPage(4)"
          class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}} ">Continue</button>
        <div (click)="goToPage(2)" class="mx-auto mt-2 flex">
          <i class="fa-solid fa-arrow-left-long my-auto cursor-pointer"></i>
          <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
        </div>


      </div>



      <div formGroupName="p4" class="flex flex-col w-500" *ngIf="actualPage === 4">


        <div class="mb-5">
          <h2 class="flex flex-col text-4xl font-semibold">{{ t('p4.title') }}</h2>
          <h3 class="flex flex-col text-lg">{{ t('p4.description') }}</h3>
        </div>





        <label for="description" class="font-semibold mb-1">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"
          class="py-1 px-3 outline-none rounded-sm shadow-md border" formControlName="description">
        </textarea>



        <app-input-validation-error [control]="description"></app-input-validation-error>



        <button type="button" (click)="goToPage(5)"
          class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}} ">Continue</button>
        <div (click)="goToPage(3)" class="mx-auto mt-2 flex">
          <i class="fa-solid fa-arrow-left-long my-auto cursor-pointer"></i>
          <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
        </div>


      </div>


      <div formGroupName="p5" class="flex flex-col w-500" *ngIf="actualPage === 5">



        <div class="mb-5">
          <h2 class="flex flex-col text-4xl font-semibold">{{ t('p5.title') }}</h2>
          <h3 class="flex flex-col text-lg">{{ t('p5.description') }}</h3>
        </div>


        <input (change)="fileChange($event)"  type="file" name="uploadFile" id="uploadFile" hidden>
        <label  class="w-300 text-xs mb-2 font-semibold" for="uploadFile">Change picture</label>





<!--         <app-input-validation-error [control]="uploadFile"></app-input-validation-error>
 -->



        <button type="button" (click)="goToPage(6)"
          class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}} ">Continue</button>
        <div (click)="goToPage(4)" class="mx-auto mt-2 flex">
          <i class="fa-solid fa-arrow-left-long my-auto cursor-pointer"></i>
          <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
        </div>




      </div>



      <div formGroupName="p6" class="flex flex-col  w-800" *ngIf="actualPage === 6">



        <div class="mb-5">
          <h2 class="flex flex-col text-4xl font-semibold">{{ t('p6.title') }}</h2>
          <h3 class="flex flex-col text-lg"></h3>
        </div>

        <div class="flex">

          <div class="flex-1 flex flex-col mr-2">


            <div class="flex-1">
              <h4 class="text-lg">Order</h4>




              <ng-container *ngFor="let socialMedia of socialMediaDetails">
           



                <ng-container *ngIf="socialMedia.posts">
                  <div class="flex shadow-md border rounded-md mb-2">
                    <div class="img">
                      <img src="https://via.placeholder.com/75" alt="">
                    </div>
    
                    <div class="content flex flex-col flex-1 p-2">
                      <div class="flex flex-1">
                        <div class="flex-1 capitalize">{{socialMedia.name + " post" }}</div>
                        <div>X</div>
                      </div>
    
                      <div class="flex">
                        <div class="flex-1">{{ socialMedia.posts }}x</div>
                        <div>€{{influencerProfile.postPrice}}</div>
                      </div>
                    </div>
                  </div>
                </ng-container>


                <ng-container *ngIf="socialMedia.stories">
                  <div class="flex shadow-md border rounded-md mb-2">
                    <div class="img">
                      <img src="https://via.placeholder.com/75" alt="">
                    </div>
    
                    <div class="content flex flex-col flex-1 p-2">
                      <div class="flex flex-1">
                        <div class="flex-1 capitalize">{{socialMedia.name + " stories" }}</div>
                        <div>X</div>
                      </div>
    
                      <div class="flex">
                        <div class="flex-1">{{ socialMedia.stories }}x</div>
                        <div>€{{influencerProfile.storyPrice}}</div>
                      </div>
                    </div>
                  </div>
                </ng-container>



                <ng-container *ngIf="socialMedia.highlights">
                  <div class="flex shadow-md border rounded-md mb-2">
                    <div class="img">
                      <img src="https://via.placeholder.com/75" alt="">
                    </div>
    
                    <div class="content flex flex-col flex-1 p-2">
                      <div class="flex flex-1">
                        <div class="flex-1 capitalize">{{socialMedia.name + " highlights" }}</div>
                        <div>X</div>
                      </div>
    
                      <div class="flex">
                        <div class="flex-1">{{ socialMedia.highlights }}x</div>
                        <div>€{{influencerProfile.highlightPrice}}</div>
                      </div>
                    </div>
                  </div>
                </ng-container>

       
              </ng-container>
            </div>



            <div>
              <h4 class="text-lg">Dates</h4>
              <div class="flex bg-light-{{color}} p-3 rounded mb-2">
                <i class="fa-solid fa-calendar text-2xl my-auto align-middle text-gray mr-3"></i>
                <div class="flex flex-col">
                  <h4 class="text-sm">Start date</h4>
                  <h4 class="font-semibold">{{ startDate.value }}</h4>
                </div>
              </div>
              <div class="flex bg-light-{{color}} p-3 rounded mt-2">
                <i class="fa-solid fa-calendar text-2xl my-auto align-middle text-gray mr-3"></i>
                <div class="flex flex-col">
                  <h4 class="text-sm">End date</h4>
                  <h4 class="font-semibold">{{ endDate.value }}</h4>
                </div>
              </div>
            </div>



          </div>


          <div class="flex-1 flex flex-col ml-2">


            <div class="flex-1 flex flex-col">
              <h4 class="text-lg">Description</h4>
              <p class="bg-light-{{color}} p-3 rounded flex-1">
                {{ description.value }}
              </p>
            </div>

          <div>Download</div>

          </div>

        </div>


        <button type="submit" 
          class="mt-5 text-white py-1 font-semibold px-3 rounded-sm shadow-sm bg-{{color}} ">Submit</button>
        <div (click)="goToPage(5)" class="mx-auto mt-2 flex">
          <i class="fa-solid fa-arrow-left-long my-auto cursor-pointer"></i>
          <p class="inline-block ml-2 my-auto cursor-pointer">Back</p>
        </div>




      </div>

    </form>
    <div class="absolute bottom-10" [class.w-500]="actualPage !== 6" [class.w-800]="actualPage === 6">

      <app-pages-bottom-navigation [allPages]="allPages" [color]="color"></app-pages-bottom-navigation>
    </div>
  </div>



  <div class="w-1/3 flex items-center bg-{{color}} justify-end">
    <div class="flex flex-col mr-14 ">


      <app-pages-side-navigation (goToPage)='goToPage($event)' [allPages]="allPages" [color]="color"
        [direction]="'Right'">
      </app-pages-side-navigation>

    </div>
  </div>
</div>
</ng-container>